<div class="bg-modal" (click)="fechar()"></div>
<div class="painel-direito" >
  <div class="p-6 space-y-6">
    <div class="flex justify-between items-center pb-4">
      <h2 class="text-2xl font-semibold ">Detalhes do Procedimento</h2>
      <button type="button" (click)="fechar()" class="btn btn-sm btn-ghost" title="Fechar">
        <lucide-icon name="x" class="right-0 inline w-6 h-6"/>
      </button>
    </div>

    @if (procedimento) {
      <div class="grid grid-cols-1 gap-6">
        <div>
          <p class="text-sm">Nome</p>
          <p class="mt-1 text-base font-medium">
            {{ procedimento.nome }}
          </p>
        </div>
        <div>
          <p class="text-sm">Código</p>
          <p class="mt-1 text-base font-medium">
            {{ procedimento.codigo }}
          </p>
        </div>
        <div>
          <p class="text-sm">Especialidade</p>
          <p class="mt-1 text-base font-medium">
            {{ procedimento.especialidade.nome }}
          </p>
        </div>
        <div>
          <p class="text-sm">Preço Padrão (Particular)</p>
          <p class="mt-1 text-base font-medium">
            R$ {{ procedimento.valorPadrao || '-' }}
          </p>
        </div>

        <div>
          <p class="text-sm" title="Valor Repasse (Particular)">Valor Repasse</p>
          <p class="mt-1 text-base font-medium">
            R$ {{ procedimento.valorRepasse || '-' }}
          </p>
        </div>

        <div>
          <p class="text-sm" title="Duração em Minutos">Duração</p>
          <p class="mt-1 text-base font-medium">
            {{ procedimento.duracao || '-' }} min
          </p>
        </div>

        <div>
          <p class="text-sm">Tipo</p>
          <p class="mt-1 text-base font-medium">
            {{ TIPO_AGENDAMENTO[procedimento.tipo].descricao }}
          </p>
        </div>

        <div>
          <p class="text-sm mb-2">Tabela de Preços</p>
          <div class="border border-base-300 rounded-lg divide-y divide-base-300">
            <div class="hover:bg-base-200 transition-colors">
              <div
                class="flex justify-between items-center p-3 cursor-pointer"
                (click)="toggleTabelaConvenio()">
                <div class="flex items-center gap-2">
                  <lucide-icon
                    [name]="mostraTabelaConvenio ? 'chevron-down' : 'chevron-right'"
                    class="w-4 h-4 text-neutral">
                  </lucide-icon>
                  <span class="font-medium">Preço Convênios</span>
                </div>
              </div>

              @if (mostraTabelaConvenio) {
                <div class="bg-base-200/50 px-6 py-2">
                  @if (procedimento.precosProcedimento && procedimento.precosProcedimento.length > 0) {
                    <div class="space-y-1">
                      @for (precoConvenio of procedimento.precosProcedimento; track precoConvenio.id) {
                        <div class="flex justify-between text-sm py-1">
                          <span class="text-neutral">{{ precoConvenio.convenio.nome }}</span>
                          <span>R$ {{ precoConvenio.preco | number:'1.2-2':'pt-BR' }}</span>
                        </div>
                      }
                    </div>
                  }
                  @else {
                    <div class="text-sm text-neutral py-1">
                      Não há preços cadastrados para convênios para este procedimento.
                    </div>
                  }
                </div>
              }
            </div>

            <div class="hover:bg-base-200 transition-colors">
              <div
                class="flex justify-between items-center p-3 cursor-pointer"
                (click)="toggleTabelaPlanos()">
                <div class="flex items-center gap-2">
                  <lucide-icon
                    [name]="mostraTabelaPlanos ? 'chevron-down' : 'chevron-right'"
                    class="w-4 h-4 text-neutral">
                  </lucide-icon>
                  <span class="font-medium">Preço Planos Empresariais</span>
                </div>
              </div>

              @if (mostraTabelaPlanos) {
                <div class="bg-base-200/50 px-6 py-2">
                  @if (procedimento.precosPlanos && procedimento.precosPlanos.length > 0) {
                    <div class="space-y-1">
                      @for (precoPlano of procedimento.precosPlanos; track precoPlano.id) {
                        <div class="flex justify-between text-sm py-1">
                          <span class="text-neutral">{{ precoPlano.plano.nome }}</span>
                          <span>R$ {{ precoPlano.preco | number:'1.2-2':'pt-BR' }}</span>
                        </div>
                      }
                    </div>
                  }
                  @else {
                    <div class="text-sm text-neutral py-1">
                      Não há preços cadastrados para planos empresariais para este procedimento.
                    </div>
                  }
                </div>
              }
            </div>
          </div>
        </div>

        <div class="flex justify-between mt-2">
          <button class="btn btn-sm" (click)="fechar()" >
            Fechar
          </button>
          <button class="btn btn-primary btn-sm" (click)="onEditar(procedimento)" *ngIf="exibeEditar()" >
            Editar
          </button>
        </div>

      </div>
    }
  </div>
</div>
