<div class="bg-modal" (click)="fechar()"></div>
<div class="painel-direito" >
  <div class="p-6 space-y-6">
    <div class="flex justify-between items-center pb-4">
      <h2 class="text-2xl font-semibold ">Detalhes do Procedimento</h2>
      <button type="button" (click)="fechar()" class="btn btn-sm btn-ghost hover:bg-base-200" aria-label="Fechar">
        <lucide-icon name="x" class="right-0 inline w-6 h-6"/>
      </button>
    </div>

    @if (procedimento) {
      <div class="grid grid-cols-1 gap-6">
        <div>
          <p class="text-sm font-semibold uppercase tracking-wide text-neutral">
            Nome
          </p>
          <p class="mt-1 text-base font-medium">
            {{ procedimento.nome }}
          </p>
        </div>
        <div>
          <p class="text-sm font-semibold uppercase tracking-wide text-neutral">
            Código
          </p>
          <p class="mt-1 text-base font-medium">
            {{ procedimento.codigo }}
          </p>
        </div>
        <div>
          <p class="text-sm font-semibold uppercase tracking-wide text-neutral">
            Especialidade
          </p>
          <p class="mt-1 text-base font-medium">
            {{ procedimento.especialidade.nome }}
          </p>
        </div>

        <div class=" border border-primary border-r">
          <div class="p-3 flex items-center justify-between hover:bg-primary/40">
            <p class="text-sm font-semibold uppercase tracking-wide text-neutral">
              Preço Padrão (Particular)
            </p>
            <div class="inline right-0 font-medium">
              R$ {{ procedimento.valorPadrao || '-' }}
            </div>
          </div>
          <div>
            <div class="p-3 flex items-center justify-between hover:bg-primary/40 text-sm hover:cursor-pointer font-semibold uppercase tracking-wide text-neutral" (click)="toggleTabelaConvenio()">
              <div>Preço Convênios</div>
              <div>
                <lucide-icon [name]="mostraTabelaConvenio ? 'chevron-down' : 'chevron-right'" class="right-0 inline w-4 h-4"/>
              </div>
            </div>
            @if (mostraTabelaConvenio && tabelaPreco && tabelaPreco.tabelaConvenio.length > 0) {
            <table class="min-w-full ">
              <tbody>
                @for (precoConvenio of tabelaPreco.tabelaConvenio; track precoConvenio.id) {
                  <tr class="font-medium text-primary ">
                    <td class="text-base px-3 py-1">{{ precoConvenio.convenio.nome }}</td>
                    <td class="text-base px-3 py-1 right-0 w-28">
                      R$ <input type="number" id="{{precoConvenio.id}}" class="w-16 inline text-right"
                      [(ngModel)]="precoConvenio.preco"
                      (change)="atualizarPreco(precoConvenio)" />
                    </td>
                  </tr>
                }
              </tbody>
            </table>
            }
            @if (tabelaPreco && tabelaPreco.tabelaConvenio.length == 0) {
              <span class="text-sm italic p-4">Não há preços cadastrados para convênios para este procedimento.</span>
            }
          </div>
        </div>

      </div>
    }
  </div>
</div>
