<div class="bg-modal" (click)="onCancel()"></div>
<div class="painel-direito">
  <div class="p-4">
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-xl font-semibold">{{isEditMode ? 'Editar Procedimento' : 'Novo Procedimento'}}</h2>
      <button type="button" (click)="onCancel()" class="text-gray-500 hover:text-gray-700">
        <lucide-icon name="x" class="right-0 inline w-6 h-6"/>
      </button>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="space-y-4">

        <div>
          <label class="label-campo">Nome</label>
          <input type="text" formControlName="nome"
                 class="campo">
        </div>

        <div>
          <label class="label-campo">Observações</label>
          <textarea id="descricao"
            formControlName="descricao" rows="5" emptyToNull
            class="campo" >
          </textarea>
        </div>

        <div class="flex justify-end space-x-3 mt-6">
          <button type="button" (click)="onCancel()" class="btn-neutro" >
            Cancelar
          </button>
          <button type="submit" class="px-4 py-1 bg-green-500 text-white rounded-md hover:bg-green-600">
            Salvar
          </button>
        </div>
      </div>
    </form>

  </div>
</div>
