<div class="bg-modal" (click)="onCancel()"></div>
<div class="painel-direito">
  <div class="p-4">
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-xl font-semibold">{{isEditMode ? 'Editar Procedimento' : 'Novo Procedimento'}}</h2>
      <button type="button" (click)="onCancel()" class="btn btn-sm btn-ghost" aria-label="Fechar">
        <lucide-icon name="x" class="right-0 inline w-6 h-6"/>
      </button>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="space-y-4">

        <div>
          <label class="label-campo">Nome</label>
          <input type="text" formControlName="nome"
                 class="campo">
        </div>

        <div class="flex space-x-4">
          <div class="w-24 tooltip text-left" data-tip="Valor (Particular)">
            <label class="label-campo">Valor</label>
            <div class="placeholder-esquerdo">R$</div>
            <input type="text" formControlName="valorPadrao" min="1" max="99999" id="valor"
                   (input)="limitLength($event)" emptyToNull maxlength="8" placeholder="00,00"
                   mask="separator.2" thousandSeparator="" decimalMarker="," required
                   class="campo pl-7 py-[7px]" [ngClass]="styleClassesField('valor')">
            <div *ngIf="isInvalid('valor')" class="text-error text-sm">
              Obrigatório
            </div>
          </div>

          <div class="w-[27rem]">
            <label class="label-campo">Especialidade</label>
            <ng-select formControlName="especialidadeId" class="campo-select" required placeholder="Selecione"
                       [ngClass]="styleClassesField('especialidadeId')" labelForId="especialidadeId">
              @for(especialidade of this.especialidades; track especialidade.id) {
                <ng-option [value]="especialidade.id" class="b-0">{{ especialidade.nome }}</ng-option>
              }
              <ng-template ng-notfound-tmp>
                <span class="text-sm p-6">Nenhum resultado</span>
              </ng-template>
            </ng-select>
          </div>
        </div>

        <div>
          <label class="label-campo">Observações</label>
          <textarea id="observacoes" formControlName="observacoes" rows="5" emptyToNull class="campo" >
          </textarea>
        </div>

        <div class="mt-6">
          <div class="flex justify-between items-center mb-2">
            <h3 class="text-lg font-medium">Valores por Convênio</h3>
          </div>

          <div class="rounded-t-lg">
            <div class="grid grid-cols-[1fr_8rem_8rem] gap-3 p-3 font-medium">
              <div>Convênio</div>
              <div>Valor</div>
              <div>Repasse</div>
            </div>
          </div>

          <div class="space-y-1" formArrayName="precosConvenios">
            <div *ngFor="let preco of precosConvenios.controls; let i = index" [formGroupName]="i"
                 class="grid grid-cols-[1fr_8rem_8rem] gap-3 px-3 py-1 items-center hover:bg-base-200 rounded-lg">

              <div class="text-sm">{{preco.get('nome')?.value}}</div>

              <input type="text" [id]="'preco_' + i" formControlName="preco"
                     mask="separator.2" thousandSeparator="" decimalMarker=","
                     class="campo mt-0 p-2 text-right" min="0" max="99999" step="1"
                     [ngClass]="styleClassesField('preco_' + i)" >

              <input [id]="'repasse_' + i" type="number" formControlName="repasse"
                     mask="separator.2" thousandSeparator="" decimalMarker=","
                     class="campo mt-0 p-2 text-right" min="0" max="99999" step="1">
            </div>
          </div>
        </div>

        <div class="flex justify-end space-x-3 mt-6">
          <button type="button" (click)="onCancel()" class="btn btn-ghost btn-sm" >
            Cancelar
          </button>
          <button type="submit" class="btn btn-success btn-sm">
            Salvar
          </button>
        </div>
      </div>
    </form>

  </div>
</div>
