<div class="mt-4">

  <app-top-bar (search)="onSearch($event)" title="Empresas Parceiras"></app-top-bar>

    @if (isLoading) {
        <div class="flex justify-center items-center h-32">
            <div class="animate-spin rounded-full h-16 w-16 border-b-2 border-primary"></div>
        </div>
    } @else if (itensExibicao.length === 0) {
        <div class="text-center py-8 w-full bg-base-100 rounded-md shadow-md">
            <p>Nenhum registro encontrado.</p>
        </div>
    } @else {

        <div class="grid grid-cols-[3fr_2fr_1fr_1fr_1fr_1fr_3fr_minmax(10px,10px)] gap-4 px-4 py-2 text-sm font-bold rounded-md text-neutral ">
          <div (click)="ordenar('nome')" class="cursor-pointer">
            <lucide-icon *ngIf="getSortIcon('nome')" [name]="getSortIcon('nome')" class="icone-ordenacao"/>
            Nome
          </div>
          <div (click)="ordenar('plano')" class="cursor-pointer">
            <lucide-icon *ngIf="getSortIcon('plano')" [name]="getSortIcon('plano')" class="icone-ordenacao"/>
            Plano
          </div>
          <div (click)="ordenar('codigoBc')" class="cursor-pointer">
            <lucide-icon *ngIf="getSortIcon('codigoBc')" [name]="getSortIcon('codigoBc')" class="icone-ordenacao"/>
            Cód. BC
          </div>
          <div (click)="ordenar('valorMinimoMensal')" class="cursor-pointer">
            <lucide-icon *ngIf="getSortIcon('valorMinimoMensal')" [name]="getSortIcon('valorMinimoMensal')" class="icone-ordenacao"/>
            Mín. Mensal
          </div>
          <div (click)="ordenar('minimoPorFuncionario')" class="cursor-pointer">
            <lucide-icon *ngIf="getSortIcon('minimoPorFuncionario')" [name]="getSortIcon('minimoPorFuncionario')" class="icone-ordenacao"/>
            Mín. Func.
          </div>
          <div (click)="ordenar('valorMes')" class="cursor-pointer">
            <lucide-icon *ngIf="getSortIcon('valorMes')" [name]="getSortIcon('valorMes')" class="icone-ordenacao"/>
            Valor Mês
          </div>
          <div>Observações</div>
          <div>
            <lucide-icon name="ellipsis-vertical" class="h-4"/>
          </div>
        </div>

        <div class="flex flex-col gap-1 mt-2 min-h-[40rem]">
          <div *ngFor="let empresa of getItensPaginados()"
               class="bg-base-100 hover:bg-base-200 rounded-lg flex items-center gap-4 border-l-8 border-primary" >

            <div class="grid grid-cols-[3fr_2fr_1fr_1fr_1fr_1fr_3fr_minmax(10px,20px)] gap-4 w-full px-2 py-2">
              <div>{{ empresa.nome }}</div>

              @if (empresa.plano) {
                <div class="badge h-fit text-xs font-semibold" *ngIf="empresa.plano" [ngClass]="ColorUtils.getColorClasses(empresa.plano)">
                  {{ empresa.plano.nome }}
                </div>
              }
              @if (!empresa.plano) {
                <div></div>
              }

              <div>{{ empresa.codigoBc }}</div>
              <div>{{ empresa.valorMinimoMensal }}</div>
              <div>{{ empresa.minimoPorFuncionario }}</div>
              <div>{{ empresa.valorMes | currency:'BRL':'symbol':'1.2-2' }}</div>
              <div class="text-xs">{{ empresa.observacao }}</div>

              <div class="p-1 whitespace-nowrap text-right" (click)="toggleDropdown($event, empresa.id)">
                <lucide-icon name="ellipsis-vertical" class="h-5 w-5 rounded-full hover:bg-base-300 hover:cursor-pointer"/>
                @if (dropdownAberto === empresa.id) {
                  <div class="absolute -ml-12 mt-1 rounded-md shadow-lg bg-base-100 ring-1 ring-accent ring-opacity-5 z-50">
                    <div class="py-1 flex flex-col">
                      <a *ngIf="!empresa.excluido"
                         (click)="editar($event, empresa)"
                         class="block px-4 py-2 text-sm text-neutral hover:bg-base-200 cursor-pointer">
                        Editar
                      </a>
                      <a *ngIf="!empresa.excluido"
                         (click)="perguntaExcluir($event, empresa)"
                         class="block px-4 py-2 text-sm text-red-700 hover:bg-error/50 cursor-pointer">
                        Excluir
                      </a>
                      <a *ngIf="empresa.excluido"
                         (click)="restaurarItem($event, empresa)"
                         class="btn btn-success btn-sm">
                        Restaurar
                      </a>
                    </div>
                  </div>
                }
              </div>

            </div>
          </div>
        </div>

        <app-pagination [items]="itensExibicao" [totalPaginas]="totalPaginas" (pageChange)="pageChange($event)"></app-pagination>
    }

  @if (mostrarFormularioNovo) {
    <app-empresa-form
      [empresa]="itemEdicao"
      (save)="onSalvarNovoEmpresa($event)"
      (cancel)="cancelarNovo()"
    ></app-empresa-form>
  }

  <app-confirm-dialog
    *ngIf="exibeConfirmExclusao"
    message="Deseja realmente excluir esta empresa?"
    (confirm)="excluir()"
    (cancel)="fecharConfirmExclusao()"
  ></app-confirm-dialog>

  <div class="fixed bottom-6 right-6 flex flex-col items-end gap-2">
    <button class="btn btn-primary btn-circle btn-lg" (click)="onAddNovo()">
      <lucide-icon name="plus" class="w-6 h-6"></lucide-icon>
    </button>
  </div>

</div>
