<div class="bg-modal" (click)="fechar()"></div>
<div class="painel-direito">
  <div class="p-4">
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-xl font-semibold">Detalhes do Profissional</h2>
      <button type="button" (click)="fechar()" class="btn btn-sm btn-ghost" aria-label="Fechar">
        <lucide-icon name="x" class="right-0 inline w-6 h-6"/>
      </button>
    </div>

    @if (profissional) {
      <div class="space-y-4">
        <div class="border-b pb-2">
          <p class="text-sm">Nome</p>
          <p class="font-medium">{{profissional.nome}}</p>
        </div>

        <div class="border-b pb-2">
          <p class="text-sm">CPF</p>
          <p class="font-medium">{{profissional.cpf | cpf}}</p>
        </div>

        <div class="border-b pb-2">
          <p class="text-sm">Data de Nascimento</p>
          <p class="font-medium">{{profissional.dataNascimento | date:'dd/MM/yyyy'}}</p>
        </div>

        <div class="border-b pb-2">
          <p class="text-sm">Sexo</p>
          <p class="font-medium">{{profissional.sexo | sexo}}</p>
        </div>

        <div class="border-b pb-2">
          <p class="text-sm">Celular</p>
          <p class="font-medium">{{profissional.celular | celular}}</p>
        </div>

        <div class="border-b pb-2">
          <p class="text-sm">CRM</p>
          <p class="font-medium">{{profissional.crm}}</p>
        </div>

        <div class="border-b pb-2">
          <p class="text-sm">Email</p>
          <p class="font-medium">{{profissional.email || '-'}}</p>
        </div>

        <div class="border-b pb-2">
          <p class="text-sm">Especialidades</p>
          <p class="font-semibold mt-2">
            @for (especialidade of profissional.especialidades; track especialidade.id) {
              <div class="badge m-1 p-4 bg-primary/20 text-primary">{{especialidade.nome}}</div>
            }
          </p>
        </div>


      </div>
    }
  </div>
</div>
