<div class="fixed bottom-6 right-6 flex flex-col items-end gap-2">
  <div
    *ngIf="fabOpen"
    class="flex flex-col items-end gap-2 transition-all duration-300"
    [class.opacity-0]="!fabOpen"
    [class.translate-y-4]="!fabOpen"
    [class.pointer-events-none]="!fabOpen" >
    @if (tituloBotao1) {
      <button class="btn btn-success" (click)="clickedBotao1.emit(); fabOpen = false;">
        <lucide-icon [name]="iconeBotao1" class="w-4 h-4"></lucide-icon> {{ tituloBotao1 }}
      </button>
    }
    @if (tituloBotao2) {
      <button class="btn btn-secondary" (click)="clickedBotao2.emit(); fabOpen = false;">
        <lucide-icon [name]="iconeBotao2" class="w-4 h-4"></lucide-icon> {{ tituloBotao2 }}
      </button>
    }
    @if (tituloBotao3) {
      <button class="btn btn-primary" (click)="clickedBotao3.emit(); fabOpen = false;">
        <lucide-icon [name]="iconeBotao3" class="w-4 h-4"></lucide-icon> {{ tituloBotao3 }}
      </button>
    }
  </div>

  <button class="btn btn-primary btn-circle btn-lg shadow-2xl" (click)="tituloBotao1 ? toggle() : this.clicked.emit()">
    <lucide-icon name="plus" class="w-6 h-6"></lucide-icon>
  </button>
</div>
