.campo {
  @apply mt-1 p-1.5 block w-full rounded-md border font-normal hover:border-neutral;
}

.campo-select {
  @apply mt-1 block w-full rounded-md border font-normal hover:border-neutral;
}

.ng-select-container, .ng-option {
  @apply bg-base-100 text-base-content !important;
}

.label-campo {
  @apply block font-medium;
}

.tabela-listagem {
  @apply text-sm rounded overflow-hidden shadow-md w-full;
}

.cabecalho-listagem {
  @apply px-6 py-2 text-left text-xs font-medium uppercase tracking-wider cursor-pointer hover:bg-primary/50;
}

.icone-ordenacao {
  @apply absolute -ml-2 w-4 h-4;
}

.excluido {
  @apply ml-2 px-2 py-1 text-xs bg-error text-base-100 rounded;
}

.tag {
  @apply ml-2 px-2 py-1 text-xs rounded;
}

.bg-modal {
  @apply fixed inset-0 bg-black bg-opacity-50 z-40;
}

.painel-direito {
  @apply fixed right-0 top-0 h-full w-[36rem] bg-base-100 shadow-lg z-50 overflow-y-auto transform transition-all duration-500 ease-linear;
}

.placeholder-esquerdo {
  @apply absolute px-2 py-3 shrink-0 text-base text-neutral select-none sm:text-sm;
}

.tab-atendimento {
  @apply tab font-bold text-base-content/50 hover:text-primary/80;
}

.tab-atendimento:is(.tab-active, [aria-selected=true]):not(.tab-disabled):not([disabled]), .tab-atendimento:is(input:checked) {
   @apply text-primary border-primary;
}

.toast-center-screen {
  @apply toast-top-right;
  margin-right: 2rem;
  margin-top: 2rem;
}

.ng-select .ng-select-container  {
  border:1px;
  max-height: 1rem !important; /* 2rem ≈ 32px (h-8 no Tailwind) */
  height: 1rem !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ng-select .ng-value-container {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
