.campo {
  @apply mt-1 p-1.5 block w-full rounded-md border border-base-200 font-normal hover:border-base-300;
}

.campo-select {
  @apply mt-1 block w-full rounded-md border border-base-200 font-normal hover:border-base-300;
}

.label-campo {
  @apply block font-medium text-neutral;
}

.borda-tabela {
  @apply overflow-x-auto rounded-md;
}

.tabela-listagem {
  @apply min-w-full table-auto text-sm;
}

.cabecalho-listagem {
  @apply px-6 py-2 text-left text-xs font-medium uppercase tracking-wider cursor-pointer hover:bg-blue-600;
}

.icone-ordenacao {
  @apply absolute -ml-2 w-4 h-4;
}

.excluido {
  @apply ml-2 px-2 py-1 text-xs bg-red-100 text-error rounded;
}

.tag {
  @apply ml-2 px-2 py-1 text-xs rounded;
}

.bg-modal {
  @apply fixed inset-0 bg-black bg-opacity-50 z-40;
}

.painel-direito {
  @apply fixed right-0 top-0 h-full w-[36rem] bg-base-100 shadow-lg z-50 overflow-y-auto transform transition-all duration-500 ease-linear;
}

.tooltip-campo {
  @apply absolute -mt-8 -ml-8 opacity-0 group-hover:opacity-100 transition-opacity duration-200
  pointer-events-none bg-neutral text-base-100 text-sm px-2 py-1 rounded-md whitespace-nowrap;
}

.placeholder-esquerdo {
  @apply absolute px-2 py-3 shrink-0 text-base text-neutral select-none sm:text-sm;
}

.toast-center-screen {
  @apply toast-top-right;
  margin-right: 2rem;
  margin-top: 2rem;
}

.ng-select .ng-select-container  {
  border:1px;
}
