.campo {
  @apply mt-1 p-1.5 block w-full rounded-md border font-normal hover:border-neutral;
}

.campo-select {
  @apply mt-1 block w-full rounded-md border font-normal hover:border-neutral;
}

.ng-select-container, .ng-option {
  @apply bg-base-100 text-base-content !important;
}

.label-campo {
  @apply block font-medium;
}

.titulo-listagem {
  @apply grid text-base-100 rounded-t-lg p-0 text-xs font-medium uppercase tracking-wider h-9 cursor-pointer;
}

.cabecalho-listagem {
  @apply px-6 py-2.5 bg-primary hover:bg-primary/80;
}

.itens-listagem {
  @apply bg-base-100 rounded-b-lg;
}

.item-listagem {
  @apply grid border-b hover:bg-base-200 cursor-pointer;
}

.celula-listagem {
  @apply px-6 flex items-center text-sm truncate;
}

.icone-ordenacao {
  @apply absolute -ml-2 w-4 h-4;
}

.excluido {
  @apply ml-2 px-2 py-1 text-xs bg-error text-base-100 rounded;
}

.tag {
  @apply ml-2 px-2 py-1 text-xs rounded;
}

.bg-modal {
  @apply fixed inset-0 bg-black bg-opacity-50 z-40;
}

.painel-direito {
  @apply fixed right-0 top-0 h-full w-[36rem] bg-base-100 shadow-lg z-50 overflow-y-auto transform transition-all duration-500 ease-linear;
}

.placeholder-esquerdo {
  @apply absolute px-2 py-3 shrink-0 text-base text-neutral select-none sm:text-sm;
}

.tab-atendimento {
  @apply tab font-bold text-base-content/50 hover:text-primary/80;
}

.tab-atendimento:is(.tab-active, [aria-selected=true]):not(.tab-disabled):not([disabled]), .tab-atendimento:is(input:checked) {
   @apply text-primary border-primary;
}

.toast-center-screen {
  @apply toast-top-right;
  margin-right: 2rem;
  margin-top: 2rem;
}

.ng-select .ng-select-container  {
  border:1px;
  max-height: 1rem !important; /* 2rem ≈ 32px (h-8 no Tailwind) */
  height: 1rem !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ng-select .ng-value-container {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container {
  min-height: 2.5rem;   /* altura inicial */
  height: auto;         /* deixa crescer */
  flex-wrap: wrap;      /* quebra de linha dos itens */
  align-items: flex-start; /* não forçar ao topo */
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

::ng-deep .ng-select.ng-select-multiple .ng-value-container {
  flex-wrap: wrap;   /* valores/chips em várias linhas */
  align-content: flex-start;
}
