/* evento dentro do calendário */
.cal-week-view .cal-time-events .cal-event {
  @apply text-sm font-bold;
  max-width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin: 1px;
  padding: 5px 7px;
  line-height: 15px;
}

/* bloco de horário (6 AM, 7AM) */
.cal-month-view, .cal-week-view {
  @apply border border-gray-300 rounded-md;
}

.cal-week-view .cal-time {
  font-weight: normal;
  padding-top: 2px;
  width: 70px;
  cursor: pointer;
}

/* bloco dos dias da semana */
.cal-day-headers, .cal-header {
  @apply bg-blue-100 border;
}

.cal-day-headers:first-child {
  @apply bg-white;
}

.cal-weekend {
  @apply bg-red-50;
}

.cal-week-view .cal-hour:not(:last-child) .cal-hour-segment, .cal-week-view .cal-hour:last-child :not(:last-child) .cal-hour-segment {
  cursor: pointer;
}

.cal-open-day-events {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cal-week-view .cal-day-headers span {
  @apply font-bold;
}
