.cal-week-view .cal-time-events {
  overflow: visible !important;
}

/* evento dentro do calendário */
.cal-week-view .cal-time-events .cal-event {
  @apply text-sm border-0 m-1 p-1 leading-none text-base-100 relative;
  max-width: calc(100% - 7px);
  height: calc(100% - 5px);
}

.cal-week-view .cal-time-events .cal-event:hover {
  @apply font-bold absolute z-[9999];
  min-height: 42px;
  min-width: 400px;
}

/* bloco de horário (6 AM, 7AM) */
.cal-month-view, .cal-week-view {
  @apply border border-base-200 rounded-md;
}

.cal-week-view .cal-time {
  font-weight: normal;
  padding-top: 2px;
  width: 70px;
  cursor: pointer;
}

/* bloco dos dias da semana */
.cal-day-headers, .cal-header {
  @apply bg-primary/20 border;
}

.cal-day-headers:first-child {
  @apply bg-base-100;
}

.cal-weekend {
  @apply bg-error/50;
}

.cal-week-view .cal-hour:not(:last-child) .cal-hour-segment, .cal-week-view .cal-hour:last-child :not(:last-child) .cal-hour-segment {
  cursor: pointer;
}

.cal-open-day-events {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cal-week-view .cal-day-headers span {
  @apply font-bold;
}
