<div class="mt-4">
  <app-top-bar (search)="onSearch($event)" title="Orçamentos"></app-top-bar>

  @if (isLoading) {
    <div class="flex justify-center items-center h-32">
      <div class="animate-spin rounded-full h-16 w-16 border-b-2 border-primary"></div>
    </div>
  } @else if (itensExibicao.length === 0) {
    <div class="text-center py-8 w-full bg-base-100 rounded-lg shadow-md">
      <p>Nenhum orçamento encontrado.</p>
    </div>
  } @else {
    <div class="min-h-[36rem]">
      <div class="titulo-listagem grid-cols-[1fr_1fr_1fr_1fr_32px]">
        <div (click)="ordenar('nome')" class="cabecalho-listagem rounded-tl-lg">
          <lucide-icon *ngIf="getSortIcon('nome')" [name]="getSortIcon('nome')" class="icone-ordenacao"/>
          Nome
        </div>
        <div (click)="ordenar('clienteNome')" class="cabecalho-listagem">
          <lucide-icon *ngIf="getSortIcon('clienteNome')" [name]="getSortIcon('clienteNome')" class="icone-ordenacao"/>
          Cliente
        </div>
        <div (click)="ordenar('valor')" class="cabecalho-listagem">
          <lucide-icon *ngIf="getSortIcon('valor')" [name]="getSortIcon('valor')" class="icone-ordenacao"/>
          Valor
        </div>
        <div (click)="ordenar('status')" class="cabecalho-listagem">
          <lucide-icon *ngIf="getSortIcon('status')" [name]="getSortIcon('status')" class="icone-ordenacao"/>
          Status
        </div>
        <div class="cabecalho-listagem p-0 rounded-tr-lg"></div>
      </div>

      <div class="itens-listagem">
        @for (orcamento of getItensPaginados(); track orcamento.id) {
          <div class="item-listagem grid-cols-[1fr_1fr_1fr_1fr_32px]"
               [class.bg-error]="orcamento.excluido"
               [class.bg-opacity-50]="orcamento.excluido">
            <div class="celula-listagem">
              {{orcamento.nome}} <span *ngIf="orcamento.excluido" class="excluido">Excluído</span>
            </div>
            <div class="celula-listagem">{{orcamento.clienteNome}}</div>
            <div class="celula-listagem">{{orcamento.valor | currency:'BRL':'symbol':'1.2-2'}}</div>
            <div class="celula-listagem">
              <span class="badge"
                    [class.badge-success]="orcamento.status === 'Aprovado'"
                    [class.badge-warning]="orcamento.status === 'Pendente'"
                    [class.badge-error]="orcamento.status === 'Rejeitado'">
                {{orcamento.status}}
              </span>
            </div>
            <div class="p-0 text-right">
              <div class="dropdown dropdown-end" (click)="$event.stopPropagation()">
                <label tabindex="0" class="btn btn-ghost btn-sm m-0 p-0">
                  <lucide-icon name="ellipsis-vertical" class="h-5" />
                </label>
                <ul tabindex="0" class="dropdown-content menu p-1 shadow-lg bg-base-100 rounded-lg w-40 z-[1] font-semibold">
                  <li *ngIf="!orcamento.excluido">
                    <a (click)="editar(orcamento)"
                       class="text-sm text-neutral hover:bg-base-200">
                      Editar
                    </a>
                  </li>
                  <li *ngIf="!orcamento.excluido">
                    <a (click)="perguntaExcluir($event, orcamento)"
                       class="text-error hover:bg-error/50">
                      Excluir
                    </a>
                  </li>
                  <li *ngIf="orcamento.excluido">
                    <a (click)="restaurar($event, orcamento)"
                       class="text-sm text-neutral hover:bg-base-200">
                      Restaurar
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        }
      </div>

      <app-pagination [items]="itensExibicao" [totalPaginas]="totalPaginas" (pageChange)="pageChange($event)"></app-pagination>

    </div>
  }

  <app-fab (click)="onAddNovo()"></app-fab>

  @if (mostrarFormularioNovo) {
    <app-convenio-form
      [registro]="itemEdicao"
      (save)="salvarNovo($event)"
      (cancel)="cancelarNovo()"
    ></app-convenio-form>
  }

</div>
