<div class="bg-white p-4 rounded-md">
  <div class="flex items-center justify-between gap-4 mb-4">
    <div class="flex items-center">
      <button
        class="px-4 py-1 bg-white border border-gray-400 rounded-md hover:bg-gray-100 mr-2 text-sm"
        mwlCalendarToday
        [(viewDate)]="currentDate" >
        Hoje
      </button>
      <button
        class="p-2 bg-white rounded-full hover:bg-gray-100 mr-2"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="currentDate"
        (viewDateChange)="closeOpenMonthViewDay()" >
        <lucide-icon name="chevron-left" class="w-5 h-5"></lucide-icon>
      </button>
      <button
        class="p-2 bg-white rounded-full hover:bg-gray-100"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="currentDate"
        (viewDateChange)="closeOpenMonthViewDay()" >
        <lucide-icon name="chevron-right" class="w-5 h-5"></lucide-icon>
      </button>
    </div>

    <div class="text-2xl">{{ currentDate | calendarDate:(view + 'ViewTitle'):'pt' }}</div>

    <div class="text-white">
      <button
        class="px-4 py-1 rounded-l-md hover:bg-blue-600 active:bg-blue-700"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
        [ngClass]="view === CalendarView.Month ? 'bg-blue-700' : 'bg-blue-500'" >
        Mês
      </button>
      <button
        class="px-4 py-1 hover:bg-blue-600 active:bg-blue-700"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
        [ngClass]="view === CalendarView.Week ? 'bg-blue-700' : 'bg-blue-500'" >
        Semana
      </button>
      <button
        class="px-4 py-1 rounded-r-md hover:bg-blue-600 active:bg-blue-700"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
        [ngClass]="view === CalendarView.Day ? 'bg-blue-700' : 'bg-blue-500'" >
        Dia
      </button>
    </div>
  </div>

  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="currentDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="verAgendamento($event.event)"
      locale='pt'
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="currentDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="verAgendamento($event.event)"
      (hourSegmentClicked)="handleHour($event)"
      [hourSegments]="hourSegments"
      [dayStartHour]="0"
      [dayEndHour]="24"
      locale='pt'
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="currentDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="verAgendamento($event.event)"
      (hourSegmentClicked)="handleHour($event)"
      [hourSegments]="hourSegments"
      [dayStartHour]="0"
      [dayEndHour]="24"
    >
    </mwl-calendar-day-view>
  </div>
</div>
