<div class="bg-white p-4 rounded-md">
  <div class="flex items-center justify-between gap-4 mb-4">
    <div class="flex items-center">
      <button
        class="btn-neutro mr-2"
        mwlCalendarToday
        [(viewDate)]="currentDate" >
        Hoje
      </button>
      <button
        class="p-1.5 rounded-full hover:bg-gray-200 mr-2"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="currentDate"
        (viewDateChange)="closeOpenMonthViewDay()" >
        <lucide-icon name="chevron-left" class="w-6 h-6"></lucide-icon>
      </button>
      <button
        class="p-1.5 rounded-full hover:bg-gray-200 mr-2"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="currentDate"
        (viewDateChange)="closeOpenMonthViewDay()" >
        <lucide-icon name="chevron-right" class="w-6 h-6"></lucide-icon>
      </button>
    </div>

    <div class="text-2xl">{{ currentDate | date:'EEEE, dd \'de\' MMMM \'de\' YYYY':'UTC':'pt' }}</div>

    <div>
      <button
        class="px-4 py-1 font-bold border-b-4 hover:text-gray-500"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
        [ngClass]="view === CalendarView.Day ? 'text-blue-500 border-blue-500' : 'text-gray-400 border-white'" >
        Dia
      </button>
      <button
        class="px-4 py-1 font-bold border-b-4 hover:text-gray-500"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
        [ngClass]="view === CalendarView.Week ? 'text-blue-500 border-blue-500' : 'text-gray-400 border-white'" >
        Semana
      </button>
      <button
        class="px-4 py-1 font-bold border-b-4 hover:text-gray-500"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
        [ngClass]="view === CalendarView.Month ? 'text-blue-500 border-blue-500' : 'text-gray-400 border-white'" >
        Mês
      </button>
    </div>
  </div>

  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="currentDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="verAgendamento($event.event)"
      locale='pt'
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="currentDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="verAgendamento($event.event)"
      (hourSegmentClicked)="handleHour($event)"
      [hourSegments]="hourSegments"
      [dayStartHour]="6"
      [dayEndHour]="24"
      locale='pt'
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="currentDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="verAgendamento($event.event)"
      (hourSegmentClicked)="handleHour($event)"
      [hourSegments]="hourSegments"
      [dayStartHour]="6"
      [dayEndHour]="24"
      locale='pt'
    >
    </mwl-calendar-day-view>
  </div>
</div>
