<div class="flex items-center justify-between bg-white">

  <!-- Botões de navegação -->
  <div class="flex items-center gap-1">
    <button (click)="setToday()" class="px-3 py-1 rounded-full hover:bg-gray-200 border border-gray-300 hover:bg-gray-100 bg-white">
      Hoje
    </button>
    <button (click)="movePrev()" class="px-2 py-1 rounded-full hover:bg-gray-200">
      ←
    </button>
    <button (click)="moveNext()" class="px-2 py-1 rounded-full hover:bg-gray-200">
      →
    </button>
  </div>

  <!-- Data centralizada -->
  <div class="text-lg font-medium text-gray-700">
    {{ getCurrentDate() | date:'dd / MM / yyyy' }}
  </div>

  <!-- Botões de visão -->
  <div class="flex items-center gap-2">
    <button (click)="changeView('day')" class="px-3 py-1 text-sm rounded hover:bg-gray-200">
      Dia
    </button>
    <button (click)="changeView('week')" class="px-3 py-1 text-sm rounded hover:bg-gray-200">
      Semana
    </button>
    <button (click)="changeView('month')" class="px-3 py-1 text-sm rounded hover:bg-gray-200">
      Mês
    </button>
  </div>

</div>

<div #calendar class="h-[48rem] border-md"></div>
