<button
    (click)="handleClick()"
    [ngClass]="[
        isActive ? 'bg-primary text-base-100 hover:bg-primary/40' : 'hover:bg-base-200',
        isSubmenuOpen ? 'pl-8' : '',
        'w-full inline-flex items-center gap-2 whitespace-nowrap text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 justify-start hover:bg-base-200'
    ]"
    routerLinkActive="bg-primary text-base-100 hover:bg-primary"
    [routerLinkActiveOptions]="{ exact: true }" >
    <lucide-icon [name]="icon" class="w-4 h-4 mr-2"></lucide-icon>
    {{ label }}
    <lucide-icon *ngIf="hasSubmenu"
        [name]="submenuOpen ? 'chevron-down' : 'chevron-right'"
        class="w-4 h-4 ml-auto transition-transform" >
    </lucide-icon>
</button>
