<div class="fixed inset-0 flex items-center justify-center bg-black/50 z-50" (click)="$event.stopPropagation()" >
  <div class="bg-base-100 rounded-md shadow-lg p-6 w-[16rem]" >

    @if(isLoading) {

      <app-loading-spinner></app-loading-spinner>

    } @else {
      <label class="label-campo block mb-4 text-lg font-semibold">Quantidade recebida:</label>

      <div class="w-[12rem] mr-4 tooltip text-left" data-tip="Valor recebido">
        <label class="label-campo">Valor</label>
        <label class="input input-sm input-bordered flex items-center h-[2.4rem] bg-base-100" [ngClass]="{ 'input-view-only': this.usarValorTotal }">
          R$ <input type="text" min="1" max="99999" id="valor" (input)="limitLength($event)"
                    maxlength="8" placeholder="00,00"
                    mask="separator.2" thousandSeparator="" decimalMarker="," required
                    class="campo border-0" [formControl]="valorRecebido">

        </label>
        @if(isInvalid(valorRecebido)) {
          <div class="text-error text-sm">
            Obrigatório
          </div>
        }
      </div>

      <div class="flex justify-end w-full">
        <label class="label cursor-pointer mt-2 tooltip flex" data-tip="Marcar valor total">
          <span class="label-text">Valor total</span>
          <input type="checkbox" class="checkbox checkbox-success ml-2"
                 [(ngModel)]="usarValorTotal" (change)="preencherValorTotal()"/>
        </label>
      </div>

      <div class="flex justify-between mt-6">
        <button type="button" class="btn btn-sm" (click)="onCancel()">
          Fechar
        </button>
        <button type="button" class="btn btn-success btn-sm" (click)="onConfirm()">
          Adicionar
        </button>
      </div>
    }

  </div>
</div>
