    <div class="flex justify-between items-center mt-4 px-6">
      <div class="text-sm">
        {{this.getRegistroInicial()}} a {{this.getRegistroFinal()}} de {{items.length}} resultados
      </div>
      <div class="flex gap-2">
        <button
          (click)="mudarPagina(paginaAtual - 1)"
          [disabled]="paginaAtual === 1"
          class="px-3 py-1 rounded border"
          [class.opacity-50]="paginaAtual === 1"
          [class.cursor-not-allowed]="paginaAtual === 1">
          <lucide-icon name="chevron-left" class="w-4 h-4"></lucide-icon>
        </button>

        @for (pagina of getPaginasArray(); track pagina) {
          <button
            (click)="mudarPagina(pagina)"
            class="px-3 py-1 rounded border"
            [class.bg-primary]="pagina === paginaAtual"
            [class.text-base-100]="pagina === paginaAtual">
            {{pagina}}
          </button>
        }

        <button
          (click)="mudarPagina(paginaAtual + 1)"
          [disabled]="paginaAtual === totalPaginas"
          class="px-3 py-1 rounded border"
          [class.opacity-50]="paginaAtual === totalPaginas"
          [class.cursor-not-allowed]="paginaAtual === totalPaginas">
          <lucide-icon name="chevron-right" class="w-4 h-4"></lucide-icon>
        </button>
      </div>
    </div>
