<div class="fixed inset-0 flex items-center justify-center bg-black/50 z-50 text-sm" (click)="fechar()">
  <div class="bg-base-100 rounded-lg shadow-lg p-6 w-[45rem]" (click)="$event.stopPropagation()" *ngIf="contaReceber" >

    <div class="flex justify-between items-center">
      <div class="flex items-center gap-4 justify-between">
        <h2 class="text-lg font-semibold">Conta a Receber</h2>
        <div class="badge font-semibold p-3 text-base-100"
          [ngClass]="'bg-['+ StatusContaReceber[contaReceber.status].cor +']'">
          {{ StatusContaReceber[contaReceber.status].descricao }}
        </div>
      </div>

      <div>
        <button type="button" class="btn btn-sm btn-ghost btn-circle" (click)="fechar()" title="Fechar">
          <lucide-icon name="x" class="inline w-5 h-5"/>
        </button>
      </div>
    </div>

    <div>
      <div class="flex items-start mt-4 rounded-xl shadow-md hover:shadow-lg">

        <!-- Bloco dos valores -->
        <div class="flex-1 p-4 bg-base-100">

          <label class="label-campo block mb-4 text-lg font-semibold">Detalhes dos Valores</label>

          <div class="font-semibold mt-[2rem]">
            <!-- Valor Agendamento -->
            <div class="flex items-center justify-between px-3 py-2 rounded-lg">
              <div class="flex items-center gap-2 text-success">
                <span class="">Agendamento</span>
              </div>
              <span class="font-semibold text-success">R$ {{ contaReceber.valorAgendamento || 0 | number:'1.2-2':'pt-BR' }}</span>
            </div>

            <!-- Valor Desconto -->
            <div class="flex items-center justify-between px-3 py-2 rounded-lg ">
              <div class="flex items-center gap-2 text-amber-500">
                <span class="text-sm">Desconto</span>
                @if (!contaReceber.faturado && !descontoEditavel) {
                  <button type="button" class="btn btn-xs btn-ghost btn-circle" (click)="habilitarEdicaoDesconto()" title="Editar Desconto">
                    <lucide-icon name="pencil" class="h-3.5"/>
                  </button>
                }
                @if (descontoEditavel) {
                  <button type="button" class="btn btn-xs btn-success btn-circle" (click)="salvarDesconto()" title="Salvar">
                    <lucide-icon name="check" class="h-3.5 w-3.5"/>
                  </button>
                  <button type="button" class="btn btn-xs btn-ghost btn-circle" (click)="cancelarEdicaoDesconto()" title="Cancelar">
                    <lucide-icon name="x" class="h-3.5"/>
                  </button>
                }
              </div>
              @if (!descontoEditavel) {
                <span class="font-semibold text-amber-500">- R$ {{ contaReceber.valorDesconto || 0 | number:'1.2-2':'pt-BR' }}</span>
              } @else {
                <label class="input input-sm input-bordered flex items-center h-[2rem] w-[8rem]">
                  R$
                  <input type="text" [(ngModel)]="descontoTemp" min="0"
                         maxlength="8" placeholder="00,00"
                         mask="separator.2" thousandSeparator="" decimalMarker=","
                         class="campo border-0 text-sm">
                </label>
              }
            </div>

            <!-- Valor Lançado -->
            <div class="flex items-center justify-between px-3 py-2 rounded-lg">
              <div class="flex items-center gap-2 text-success">
                <span class="text-sm">Procedimentos Adicionais</span>
              </div>
              <span class="font-semibold text-success">R$ {{ contaReceber.valorProcedimentosLancados || 0 | number:'1.2-2':'pt-BR' }}</span>
            </div>

            <!-- Valor Total -->
            <div class="flex items-center justify-between px-3 py-1 rounded-lg bg-success/10 mt-[1rem]">
              <div class="flex items-center gap-2 text-success">
                <span class="text-lg">Total</span>
              </div>
              <span class="text-lg font-bold text-success">R$ {{ contaReceber.valorTotal || 0 | number:'1.2-2':'pt-BR' }}</span>
            </div>

          </div>
        </div>

        <!-- Bloco do donut -->
        <div class="w-[20rem] p-4">
          <app-conta-receber-donut [contaReceber]="contaReceber"></app-conta-receber-donut>

          <!-- Recebido -->
          <div class="flex items-center justify-between px-3 py-1 rounded-lg bg-primary/10">
            <div class="flex items-center gap-2 text-primary">
              <span class="text-md font-semibold">Recebido</span>
            </div>
            <span class="text-lg font-bold text-primary">R$ {{ contaReceber.valorRecebido | number:'1.2-2':'pt-BR' }} / {{ contaReceber.valorTotal | number:'1.2-2':'pt-BR' }}</span>
          </div>

        </div>

      </div>

      <!-- Bloco Detalhes -->
      <div class="mt-4 p-4 rounded-xl bg-base-100 shadow-md hover:shadow-lg">
        <label class="label-campo block mb-4 text-lg font-semibold">Detalhes do Agendamento</label>
        <div class="grid grid-cols-3 gap-2">
          <div>
            <span class="block text-sm text-neutral">Data Agendamento</span>
            <span class="font-medium">{{ contaReceber.dataAgendamento | date:'dd/MM/yyyy' }}</span>
          </div>
          <div>
            <span class="block text-sm text-neutral">Profissional</span>
            <span class="font-medium">{{ contaReceber.profissional.nome }}</span>
          </div>
          <div>
            <span class="block text-sm text-neutral">Paciente</span>
            <span class="font-medium">{{ contaReceber.paciente.nome }}</span>
          </div>
          <div>
            <span class="block text-sm text-neutral">Empresa</span>
            <span class="font-medium">{{ contaReceber.empresa?.nome || '-' }}</span>
          </div>
          <div>
            <span class="block text-sm text-neutral">Convênio</span>
            <span class="font-medium">{{ contaReceber.convenio || '-' }}</span>
          </div>
          <div>
            <span class="block text-sm text-neutral">Forma de Pagamento</span>
            <span class="font-medium">{{ FORMAS_PAGAMENTO[contaReceber.formaPagamento].descricao }}</span>
          </div>
        </div>
      </div>

      <!-- Rodapé com botões -->
      <div class="flex justify-between mt-6">
        <button type="button" class="btn btn-sm" (click)="fechar()">
          Fechar
        </button>
        <div class="flex justify-end gap-3">
          @if (!contaReceber.faturado) {
            <button type="button" class="btn bg-amber-500 hover:bg-amber-600 text-white btn-sm" (click)="confirmacaoCobranca()">
              Realizar Cobrança
            </button>
            <button type="button" class="btn btn-success btn-sm" (click)="exibeAdicionarValor = true">
              Registrar Recebimento
            </button>
          }
        </div>
      </div>
    </div>

  </div>

  <app-adicionar-valor-faturado
    *ngIf="exibeAdicionarValor"
    [contaReceber]="contaReceber"
    (confirm)="valorAdicionado($event)"
    (cancel)="exibeAdicionarValor = false">
  </app-adicionar-valor-faturado>

</div>
