<div class="mt-4">

  <app-top-bar (search)="onSearch($event)" title="Contas a Receber"></app-top-bar>

  @if (isLoading) {
    <app-loading-spinner></app-loading-spinner>
  } @else {

    <div class="grid grid-cols-[1fr_1fr_1fr_1fr_1fr] mb-2">
      <div class="max-w-64 px-6 py-2.5">
        <label class="label-campo tooltip text-left" data-tip="Filtrar Status">
          Status
          <ng-select class="campo-select" placeholder="Todos" (change)="selectStatus($event)">
            <ng-option class="max-h-8" value="0">Todos</ng-option>
            @for (status of StatusContaReceber | keyvalue; track status.value) {
              <ng-option class="max-h-8" value="{{ status.value }}">{{ StatusContaReceberDescricao[status.value] }}</ng-option>
            }
            <ng-template ng-notfound-tmp>
              <span class="text-sm p-6">Nenhum resultado</span>
            </ng-template>
          </ng-select>
        </label>
      </div>
      <div class="max-w-64 px-6 py-2.5">
        <label class="label-campo">
          Paciente
          <ng-select class="campo-select" placeholder="Todos" (change)="selectPaciente($event)">
            <ng-option class="max-h-8" value="0">Todos</ng-option>
            @for (paciente of pacientes; track paciente.id) {
              <ng-option class="max-h-8" value="{{ paciente.id }}">{{ paciente.nome }}</ng-option>
            }
            <ng-template ng-notfound-tmp>
              <span class="text-sm p-6">Nenhum resultado</span>
            </ng-template>
          </ng-select>
        </label>
      </div>
      <div class="max-w-64 px-6 py-2.5">
        <label class="label-campo" for="tipoAgendamento">
          Empresa
          <ng-select class="campo-select" placeholder="Todos" (change)="selectEmpresa($event)">
            <ng-option class="max-h-8" value="0">Todos</ng-option>
            @for (empresa of empresas; track empresa.id) {
              <ng-option class="max-h-8" value="{{ empresa.id }}">{{ empresa.nome }}</ng-option>
            }
            <ng-template ng-notfound-tmp>
              <span class="text-sm p-6">Nenhum resultado</span>
            </ng-template>
          </ng-select>
        </label>
      </div>
      <div class="max-w-64 px-6 py-2.5">
        <label class="label-campo" for="tipoAgendamento">
          Profissional

          <ng-select class="campo-select" placeholder="Todos" (change)="selectProfissional($event)">
            <ng-option class="max-h-8" value="0">Todos</ng-option>
            @for (profissional of profissionais; track profissional.id) {
              <ng-option class="max-h-8" value="{{ profissional.id }}">{{ profissional.nome }}</ng-option>
            }
            <ng-template ng-notfound-tmp>
              <span class="text-sm p-6">Nenhum resultado</span>
            </ng-template>
          </ng-select>
        </label>
      </div>
      <div class="max-w-64 px-6 py-2.5">
        <label class="label-campo" for="tipoAgendamento">
          Data Atendimento
          <div class="flex items-center gap-2">
            <input type="date" class="campo w-32" placeholder="Data Início">
            <span class="text-sm">até</span>
            <input type="date" class="campo w-32" placeholder="Data Fim">
          </div>
        </label>
      </div>
    </div>

    @if(itensExibicao.length == 0) {
      <div class="text-center py-8 w-full bg-base-100 rounded-lg shadow-md">
        <p>Nenhum registro encontrado.</p>
      </div>
    } @else {

      <div class="min-h-[36rem]">
        <div class="titulo-listagem grid-cols-[1fr_1fr_1fr_1fr_1fr]">
          <div (click)="ordenar('status')" class="cabecalho-listagem rounded-tl-lg">
            @if (getSortIcon('status')) {
              <lucide-icon [name]="getSortIcon('status')" class="icone-ordenacao"/>
            }
            Status
          </div>
          <div (click)="ordenar('paciente')" class="cabecalho-listagem">
            @if (getSortIcon('paciente')) {
              <lucide-icon [name]="getSortIcon('paciente')" class="icone-ordenacao"/>
            }
            Paciente
          </div>
          <div (click)="ordenar('empresa')" class="cabecalho-listagem">
            @if (getSortIcon('empresa')) {
              <lucide-icon [name]="getSortIcon('empresa')" class="icone-ordenacao"/>
            }
            Empresa
          </div>
          <div (click)="ordenar('profissional')" class="cabecalho-listagem">
            @if (getSortIcon('profissional')) {
              <lucide-icon [name]="getSortIcon('profissional')" class="icone-ordenacao"/>
            }
            Profissional
          </div>
          <div (click)="ordenar('dataAtendimento')" class="cabecalho-listagem">
            @if (getSortIcon('dataAtendimento')) {
              <lucide-icon [name]="getSortIcon('dataAtendimento')" class="icone-ordenacao"/>
            }
            Data Atendimento
          </div>
        </div>

        <div class="itens-listagem">
          @for (contaReceber of getItensPaginados(); track contaReceber.id) {
            <div class="item-listagem grid-cols-[1fr_1fr_1fr_1fr_1fr]" (click)="selecionar(contaReceber)">
              <div class="celula-listagem flex items-center px-4 py-1.5">
                <div class="badge text-base-100" [ngClass]="'bg-['+ CorContaReceber[contaReceber.status] +']'">
                  {{ StatusContaReceberDescricao[contaReceber.status] }}
                </div>
              </div>
              <div class="celula-listagem">{{contaReceber.paciente.nome}}</div>
              <div class="celula-listagem">{{contaReceber.empresa.nome}}</div>
              <div class="celula-listagem">{{contaReceber.profissional.nome}}</div>
              <div class="celula-listagem">{{contaReceber.dataAtendimento | date:'dd/MM/yyyy'}}</div>
            </div>
          }
        </div>
      </div>

      <app-pagination [items]="itensExibicao" [totalPaginas]="totalPaginas" (pageChange)="pageChange($event)"></app-pagination>
    }

  }

  @if (mostrarDetalhes) {
    <app-contas-receber-detalhes
      [contaReceber]="itemSelecionado"
      (fechou)="fecharDetalhes()">
    </app-contas-receber-detalhes>
  }

</div>
