<div class="mt-4">

  <app-top-bar title="Contas a Receber"></app-top-bar>

  @if (isLoading) {
    <app-loading-spinner></app-loading-spinner>
  } @else {

    <form [formGroup]="form" class="grid grid-cols-[1fr_1fr_1fr_1fr_1fr] mb-2">
        <div class="max-w-64 px-6 py-2.5">
          <label class="label-campo tooltip text-left" data-tip="Filtrar Status">
            Status
            <ng-select formControlName="status" class="campo-select w-[18rem]" placeholder="Todos">
              <ng-option class="max-h-8" value="0">Todos</ng-option>
              @for (status of StatusContaReceber | keyvalue; track status) {
                <ng-option class="max-h-8" value="{{ status.key }}">{{ status.value.descricao }}</ng-option>
              }
              <ng-template ng-notfound-tmp>
                <span class="text-sm p-6">Nenhum resultado</span>
              </ng-template>
            </ng-select>
          </label>
        </div>
        <div class="max-w-64 px-6 py-2.5">
          <label class="label-campo tooltip text-left" data-tip="Filtrar Paciente">
            Paciente
            <ng-select formControlName="paciente" class="campo-select w-[18rem]" placeholder="Todos">
              <ng-option class="max-h-8" value="0">Todos</ng-option>
              @for (paciente of pacientes; track paciente.id) {
                <ng-option class="max-h-8" value="{{ paciente.id }}">{{ paciente.nome }}</ng-option>
              }
              <ng-template ng-notfound-tmp>
                <span class="text-sm p-6">Nenhum resultado</span>
              </ng-template>
            </ng-select>
          </label>
        </div>
        <div class="max-w-64 px-6 py-2.5">
          <label class="label-campo tooltip text-left" data-tip="Filtrar Empresa">
            Empresa
            <ng-select formControlName="empresa" class="campo-select w-[18rem]" placeholder="Todos">
              <ng-option class="max-h-8" value="0">Todos</ng-option>
              @for (empresa of empresas; track empresa.id) {
                <ng-option class="max-h-8" value="{{ empresa.id }}">{{ empresa.nome }}</ng-option>
              }
              <ng-template ng-notfound-tmp>
                <span class="text-sm p-6">Nenhum resultado</span>
              </ng-template>
            </ng-select>
          </label>
        </div>
        <div class="max-w-64 px-6 py-2.5">
          <label class="label-campo tooltip text-left" data-tip="Filtrar Profissional">
            Profissional
            <ng-select formControlName="profissional" class="campo-select w-[18rem]" placeholder="Todos">
              <ng-option class="max-h-8" value="0">Todos</ng-option>
              @for (profissional of profissionais; track profissional.id) {
                <ng-option class="max-h-8" value="{{ profissional.id }}">{{ profissional.nome }}</ng-option>
              }
              <ng-template ng-notfound-tmp>
                <span class="text-sm p-6">Nenhum resultado</span>
              </ng-template>
            </ng-select>
          </label>
        </div>
        <div class="max-w-64 px-6 py-2.5">
          <label class="label-campo">
            Data do Atendimento
            <div class="flex items-center gap-2">
              <div class="tooltip text-left" data-tip="Data Início">
                <input #dataInicio type="date" class="campo w-[8.5rem]" formControlName="dataInicio" />
                <button type="button" class="absolute right-2 top-1/2 -translate-y-1/2" (click)="abrirDatePicker(dataInicio)">
                  <lucide-icon name="calendar" class="inline h-4"/>
                </button>
              </div>
              <span class="text-sm">-</span>
              <div class="tooltip text-left" data-tip="Data Fim">
                <div class="relative">
                  <input #dataFim type="date" class="campo w-[8.5rem]" formControlName="dataFim" />
                  <button type="button" class="absolute right-2 top-1/2 -translate-y-1/2" (click)="abrirDatePicker(dataFim)">
                    <lucide-icon name="calendar" class="inline h-4"/>
                  </button>
                </div>
              </div>
            </div>
          </label>
        </div>
    </form>

  @if(itensExibicao.length == 0) {
    <div class="text-center py-8 w-full bg-base-100 rounded-lg shadow-md">
      <p>Nenhum registro encontrado.</p>
    </div>
  } @else {

    <div class="min-h-[36rem]">
      <div class="titulo-listagem grid-cols-[1fr_1fr_1fr_1fr_1fr]">
        <div (click)="ordenar('status')" class="cabecalho-listagem rounded-tl-lg">
          <lucide-icon *ngIf="getSortIcon('status')" [name]="getSortIcon('status')" class="icone-ordenacao"/>
          Status
        </div>
        <div (click)="ordenar('paciente')" class="cabecalho-listagem">
          <lucide-icon *ngIf="getSortIcon('paciente')" [name]="getSortIcon('paciente')" class="icone-ordenacao"/>
          Paciente
        </div>
        <div (click)="ordenar('empresa')" class="cabecalho-listagem">
          <lucide-icon *ngIf="getSortIcon('empresa')" [name]="getSortIcon('empresa')" class="icone-ordenacao"/>
          Empresa
        </div>
        <div (click)="ordenar('profissional')" class="cabecalho-listagem">
          <lucide-icon *ngIf="getSortIcon('profissional')" [name]="getSortIcon('profissional')" class="icone-ordenacao"/>
          Profissional
        </div>
        <div (click)="ordenar('dataAtendimento')" class="cabecalho-listagem rounded-tr-lg">
          <lucide-icon *ngIf="getSortIcon('dataAtendimento')" [name]="getSortIcon('dataAtendimento')" class="icone-ordenacao"/>
          Data Atendimento
        </div>
      </div>

      <div class="itens-listagem">
        @for (contaReceber of getItensPaginados(); track contaReceber.id) {
          <div class="item-listagem grid-cols-[1fr_1fr_1fr_1fr_1fr]" (click)="selecionar(contaReceber)">
            <div class="celula-listagem flex items-center px-4 py-1.5">
              <div class="badge text-base-100" [ngClass]="'bg-['+ StatusContaReceber[contaReceber.status].cor +']'">
                {{ StatusContaReceber[contaReceber.status].descricao }}
              </div>
            </div>
            <div class="celula-listagem">{{contaReceber.paciente.nome}}</div>
            <div class="celula-listagem">{{contaReceber.empresa?.nome}}</div>
            <div class="celula-listagem">{{contaReceber.profissional.nome}}</div>
            <div class="celula-listagem">{{contaReceber.dataAtendimento | date:'dd/MM/yyyy'}}</div>
          </div>
        }
      </div>
    </div>

    <app-pagination [items]="itensExibicao" [totalPaginas]="totalPaginas" (pageChange)="pageChange($event)"></app-pagination>
  }

}

  <app-contas-receber-detalhes
    *ngIf="mostrarDetalhes"
    [contaReceber]="itemSelecionado"
    (fechou)="fecharDetalhes()">
  </app-contas-receber-detalhes>

</div>
