<div class="mt-4">

  <app-top-bar (search)="onSearch($event)" title="Contas a Receber"></app-top-bar>

  @if (isLoading) {
    <app-loading-spinner></app-loading-spinner>
  } @else if (itensExibicao.length === 0) {
    <div class="text-center py-8 w-full bg-base-100 rounded-lg shadow-md">
      <p>Nenhum registro encontrado.</p>
    </div>
  } @else {
    <div class="min-h-[36rem]">
      <div class="titulo-listagem grid-cols-[1fr_1fr]">
        <div (click)="ordenar('paciente')" class="cabecalho-listagem rounded-tl-lg">
          <lucide-icon *ngIf="getSortIcon('paciente')" [name]="getSortIcon('paciente')" class="icone-ordenacao"/>
          Status
        </div>
        <div (click)="ordenar('paciente')" class="cabecalho-listagem">
          <lucide-icon *ngIf="getSortIcon('paciente')" [name]="getSortIcon('paciente')" class="icone-ordenacao"/>
          Paciente
        </div>
        <!-- TODO - adicionar os outros campos -->
      </div>

      <div class="itens-listagem">
        @for (contaReceber of getItensPaginados(); track contaReceber.id) {
          <div class="item-listagem grid-cols-[1fr_1fr]">
            <div class="celula-listagem flex items-center px-4 py-1.5">
              <div class="badge text-base-100" [ngClass]="'bg-['+ CorContaReceber[contaReceber.status] +']'">
                {{ StatusContaReceberDescricao[contaReceber.status] }}
              </div>
            </div>
            <div class="celula-listagem">{{contaReceber.paciente.nome}}</div>
          </div>
        }
      </div>
    </div>

    <app-pagination [items]="itensExibicao" [totalPaginas]="totalPaginas" (pageChange)="pageChange($event)"></app-pagination>
  }

  <app-confirm-dialog
    *ngIf="exibeConfirmExclusao"
    message="Deseja realmente excluir este convênio?"
    (confirm)="excluir()"
    (cancel)="fecharConfirmExclusao()"
  ></app-confirm-dialog>

</div>
