<div class="flex min-h-screen bg-background">
  <aside class="h-screen sticky top-0 w-56">
    <nav class="h-full flex flex-col bg-base-100 w-56">
      <div class="p-4 pb-2">
        <div class="flex items-center mb-4">
          <div class="flex items-center">
            <img src="images/logo-sidebar.png" alt="Logo" class="h-10 object-contain" />
          </div>
        </div>
        <div class="flex-1 relative">
          <lucide-icon name="search" class="w-4 h-4 absolute left-1 top-1/2 transform -translate-y-1/2 text-muted-foreground"></lucide-icon>
          <input [(ngModel)]="searchTerm" (input)="onSearchChange()" class="flex w-full rounded-full px-3 py-1 h-8 pl-9 text-sm shadow-md" placeholder="Filtrar" />
        </div>
      </div>
      <div class="shrink-0 bg-border h-[1px] w-full"></div>
      <div class="flex-1 overflow-y-auto">
        <ul>
          <li *ngFor="let item of this.filteredMenuItems">
            <app-menu-item
              [label]="item.label"
              [icon]="item.icon"
              [route]="item.route"
              [hasSubmenu]="item.hasSubmenu"
              [submenuOpen]="isSubmenuOpen(item.label)"
              (clicked)="toggleSubmenu(item.label)">
            </app-menu-item>
            <div *ngIf="item.children && isSubmenuOpen(item.label)"
              class="overflow-hidden ease-in-out">
              <ul>
                <li *ngFor="let child of item.children">
                  <app-menu-item
                    [label]="child.label"
                    [icon]="child.icon"
                    [route]="child.route"
                    [isSubmenuOpen]="true"
                  >
                  </app-menu-item>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="p-3 relative text-xs">
        Brígida v0.0.5
      </div>
    </nav>
  </aside>
  <div class="flex-1 px-8 pb-4 bg-base-300">
    <div class="space-y-4 relative">
      <div class="space-y-8">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
