<div class="flex min-h-screen bg-background">
  <aside class="h-screen sticky top-0 border-r border-border w-64">
    <nav class="h-full flex flex-col bg-gray-50">
      <div class="p-4 pb-2">
        <div class="flex items-center mb-4">
          <div class="flex items-center">
            <img src="images/logo-sidebar.png" alt="Logo" class="h-10 object-contain" />
          </div>
          <button class="inline-flex items-center justify-center gap-2 rounded-md text-sm h-10 w-10 ml-auto hover:bg-accent">
            <lucide-icon name="chevron-first" class="w-4 h-4"></lucide-icon>
          </button>
        </div>
        <div class="flex-1 relative">
          <lucide-icon name="search" class="w-4 h-4 absolute left-1 top-1/2 transform -translate-y-1/2 text-muted-foreground"></lucide-icon>
          <input class="flex w-full rounded-md border px-3 py-2 h-8 pl-9 text-sm" placeholder="Pesquisar" />
        </div>
      </div>
      <div class="shrink-0 bg-border h-[1px] w-full"></div>
      <div class="flex-1 overflow-y-auto">
        <ul class="px-3 py-2">
          <li>
            <app-menu-item label="Página Inicial" icon="home" route="/"></app-menu-item>
          </li>
          <li>
            <app-menu-item label="Pacientes" icon="users" route="/pacientes"></app-menu-item>
          </li>
          <li>
            <app-menu-item label="Agendamentos" icon="calendar" route="/agendamentos"></app-menu-item>
          </li>
          <li>
            <div>
              <app-menu-item label="Cadastros" icon="user-plus" [hasSubmenu]="true"
                [submenuOpen]="isSubmenuOpen('cadastros')" (clicked)="toggleSubmenu('cadastros')">
              </app-menu-item>
              <div class="overflow-hidden ease-in-out"
                [class.max-h-0]="!isSubmenuOpen('cadastros')"
                [class.max-h-48]="isSubmenuOpen('cadastros')">
                <ul class="pl-4">
                  <li><app-menu-item label="Procedimentos" route="/procedimentos" icon="clipboard-list"></app-menu-item></li>
                  <li><app-menu-item label="Profissionais" route="/profissionais" icon="stethoscope"></app-menu-item></li>
                  <li><app-menu-item label="Tabela de Preços" route="/tabela-precos" icon="building"></app-menu-item></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="border-t border-border p-3 relative">
        <button
          (click)="toggleUserMenu()"
          class="inline-flex items-center gap-2 rounded-md text-sm h-10 px-4 py-2 w-full justify-start hover:bg-accent">
          <span class="relative flex shrink-0 overflow-hidden rounded-full h-6 w-6">
            <span class="flex h-full w-full items-center justify-center rounded-full bg-muted">
              <lucide-icon name="circle-user" class="w-4 h-4 mr-2"></lucide-icon>
            </span>
          </span>
          <span class="ml-2">{{nomeUsuario}}</span>
        </button>
        <div *ngIf="isUserMenuOpen" class="absolute w-40 bottom-full mb-1 bg-white rounded-md shadow-lg border border-gray-200">
          <ul class="py-1">
            <li>
              <a (click)="logout()" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer">
                Sair
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </aside>
  <div class="flex-1 px-[32px] pb-12 bg-gray-200">
    <div class="space-y-4 relative">
      <div class="space-y-8">
        <div class="py-4 -mx-[32px] px-[32px] bg-gray-50">
          <div class="flex items-center justify-between bg-gray-50">
            <h1 class="text-2xl font-bold">{{ pageTitle }}</h1>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
