<div class="fixed inset-0 flex items-center justify-center bg-black/50 z-50 text-sm" (click)="fechar()">
  <div class="bg-base-100 rounded-lg shadow-lg p-6 w-[58rem]"
    (click)="$event.stopPropagation()" >

    <div class="flex justify-between items-center">
      <h2 class="text-lg font-semibold">{{ titulo }}</h2>

      <div>
        <button type="button" class="btn btn-sm btn-ghost btn-circle mr-1" aria-label="Editar" (click)="onEdit()" *ngIf="!this.userService.isMedico() && agendamentoDetalhes && !this.podeSalvar" title="Editar">
          <lucide-icon name="pencil" class="inline w-5 h-5"/>
        </button>
        <button type="button" class="btn btn-sm btn-ghost btn-circle" aria-label="Fechar" (click)="fechar()" title="Fechar">
          <lucide-icon name="x" class="inline w-5 h-5"/>
        </button>
      </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-6">
      <div class="flex">
        <div class="w-[8rem] mr-4" >
          <label class="label-campo" for="data">
            Data <span aria-hidden="true" class="text-error">*</span>
            <input type="date" formControlName="data" required id="data" [min]="hoje"
                   class="campo" [ngClass]="styleClassesField('data')" >
            <div *ngIf="isInvalid('data')" class="text-error text-sm">
              Obrigatório
            </div>
          </label>
        </div>
        <div class="w-[4rem] mr-4 group">
          <label class="label-campo" for="hora">
            <div class="tooltip-campo">Horário inicial do agendamento</div>
            Horário <span aria-hidden="true" class="text-error">*</span>
            <input type="text" formControlName="hora" maxlength="5" id="hora" required
                   mask="00:00" emptyToNull class="campo p-[7px]" [dropSpecialCharacters]="false"
                   [ngClass]="styleClassesField('hora')">
            <div *ngIf="isInvalid('hora')" class="text-error text-sm">
              Obrigatório
            </div>
          </label>
        </div>
        <div class="w-[5rem] mr-4 group" aria-placeholder="Duração em minutos" (mouseenter)="showTooltip = true" (mouseleave)="showTooltip = false" >
          <label class="label-campo" for="duracao">
            <div class="tooltip-campo">Duração em minutos</div>
            Duração <span aria-hidden="true" class="text-error">*</span>
            <input type="number" formControlName="duracao" min="10" max="480" id="duracao" required
                   (input)="limitLength($event)" emptyToNull maxlength="3"
                   class="campo p-[7px]" [ngClass]="styleClassesField('duracao')">
            <div *ngIf="isInvalid('duracao')" class="text-error text-sm">
              Obrigatório
            </div>
          </label>
        </div>
        <div class="w-[23rem] mr-4" >
          <label class="label-campo" for="pacienteId">
            Paciente <span aria-hidden="true" class="text-error">*</span>
              <ng-select formControlName="pacienteId" class="campo-select"
                         [ngClass]="styleClassesField('pacienteId')" labelForId="pacienteId" placeholder="Selecione"
                         (change)="selectPaciente($event)" (clear)="selectPaciente(null)" required >
                  @for(paciente of this.pacientes; track paciente.id) {
                    <ng-option [value]="paciente.id" class="b-0">{{ paciente.nome }} - {{ paciente.dataNascimento | date:'dd/MM/yyyy' }}</ng-option>
                  }
                <ng-template ng-notfound-tmp>
                  <div class="p-2 flex items-center justify-between gap-4">
                    <div class="p-2 text-sm">
                      Paciente não encontrado.
                    </div>
                    <button (click)="mostrarFormularioNovoPaciente=true" class="btn btn-success btn-xs flex items-center gap-2">
                      <lucide-icon name="plus" class="w-3 h-3"></lucide-icon>
                      Cadastrar
                    </button>
                  </div>
                </ng-template>
              </ng-select>
            <div *ngIf="isInvalid('pacienteId')" class="text-error text-sm">
              Obrigatório
            </div>
          </label>
        </div>

        <div class="w-[11rem]" >
          <label class="label-campo" for="tipoAgendamento">
            Tipo <span aria-hidden="true" class="text-error">*</span>
            <ng-select formControlName="tipoAgendamento" class="campo-select" required placeholder="Selecione"
                       [ngClass]="styleClassesField('tipoAgendamento')" bindValue="valor" bindLabel="descricao"
                       [items]="this.tipoAgendamento" labelForId="tipoAgendamento">
              <ng-template ng-notfound-tmp>
                <span class="text-sm p-6">Nenhum resultado</span>
              </ng-template>
            </ng-select>
            <div *ngIf="isInvalid('tipoAgendamento')" class="text-error text-sm">
              Obrigatório
            </div>
          </label>
        </div>
      </div>

      <div class="flex mt-2">
        <div class="w-[12rem] mr-4">
          <label class="label-campo" for="convenioId">Convênio</label>
          <ng-select formControlName="convenioId" class="campo-select"
                     [ngClass]="styleClassesField('convenioId')" placeholder="Selecione"
                     [items]="this.convenios" bindValue="id" bindLabel="nome" labelForId="convenioId"
                     (change)="selectConvenio($event)" (clear)="selectConvenio(null)">
            <ng-template ng-notfound-tmp>
              <span class="text-sm p-6">Nenhum resultado</span>
            </ng-template>
          </ng-select>
        </div>

        <div class="mr-4 w-[20rem]" >
          <label class="label-campo" for="especialidadeId">
            Especialidade <span aria-hidden="true" class="text-error">*</span>
            <ng-select formControlName="especialidadeId" required class="campo-select"
                       labelForId="especialidadeId" [ngClass]="styleClassesField('especialidadeId')"
                       [items]="this.especialidades" bindValue="id" bindLabel="nome" placeholder="Selecione"
                       (change)="selectEspecialidade($event)" (clear)="selectEspecialidade(null)">
              <ng-template ng-notfound-tmp>
                <span class="text-sm p-6">Nenhum resultado</span>
              </ng-template>
            </ng-select>
            <div *ngIf="isInvalid('especialidadeId')" class="text-error text-sm">
              Obrigatório
            </div>
          </label>
        </div>

        <div class="w-[21rem]" >
          <label class="label-campo" for="profissionalId">
            Profissional <span aria-hidden="true" class="text-error">*</span>
            <ng-select formControlName="profissionalId" required class="campo-select"
                       [ngClass]="styleClassesField('profissionalId')" placeholder="Selecione"
                       [items]="this.profissionaisFiltrados" bindValue="id" bindLabel="nome" labelForId="profissionalId">
              <ng-template ng-notfound-tmp>
                <span class="text-sm p-6">Nenhum resultado</span><br/>
                <span class="text-xs p-6">Verifique a especialidade selecionada</span>
              </ng-template>
            </ng-select>
            <div *ngIf="isInvalid('profissionalId')" class="text-error text-sm">
              Obrigatório
            </div>
          </label>
        </div>
      </div>

      <div class="flex mt-2">
        <div class="w-[24rem] mr-4" >
          <label class="label-campo" for="empresaId">
            Empresa
            <ng-select formControlName="empresaId" class="campo-select" [ngClass]="styleClassesField('empresaId')"
                       [items]="this.empresas" bindValue="id" bindLabel="nome" labelForId="empresaId" placeholder="Selecione"
                       (change)="selectEmpresa($event)" (clear)="selectEmpresa(null)">
              <ng-template ng-notfound-tmp>
                <span class="text-sm p-6">Nenhum resultado</span>
              </ng-template>
            </ng-select>
            <div class="py-2 px-4 text-xs italic rounded-b-md" *ngIf="empresaSelecionada"
                 [ngClass]=" ColorUtils.getColorClasses(empresaSelecionada.plano) ">
              {{ empresaSelecionada.plano?.nome }}
            </div>
          </label>
        </div>

        <div class="w-[30rem]" >
          <label class="label-campo" for="procedimentoId">Procedimento</label>
          <ng-select formControlName="procedimentoId" class="campo-select"
                     [ngClass]="styleClassesField('procedimentoId')" placeholder="Selecione"
                     (change)="selectProcedimento($event)" (clear)="selectProcedimento(null)"
                     [items]="this.procedimentos" bindValue="id" bindLabel="nome" labelForId="procedimentoId">
            <ng-template ng-notfound-tmp>
              <span class="text-sm p-6">Nenhum resultado</span>
            </ng-template>
          </ng-select>
        </div>
      </div>

      <div class="flex mt-2">
        <div class="w-[11rem] mr-4" >
          <label class="label-campo" for="formaPagamento">
            Forma de Pagamento <span aria-hidden="true" class="text-error">*</span>
            <ng-select formControlName="formaPagamento" class="campo-select" required placeholder="Selecione"
                       [ngClass]="styleClassesField('formaPagamento')" bindValue="valor" bindLabel="descricao"
                       [items]="this.formasPagamento" labelForId="formaPagamento">
              <ng-template ng-notfound-tmp>
                <span class="text-sm p-6">Nenhum resultado</span>
              </ng-template>
            </ng-select>
            <div *ngIf="isInvalid('formaPagamento')" class="text-error text-sm">
              Obrigatório
            </div>
          </label>
        </div>
        <div class="w-[6rem] mr-4" >
          <label class="label-campo" for="valor">
            Valor <span aria-hidden="true" class="text-error">*</span>
              <button type="button" class="btn btn-xs btn-ghost btn-circle ml-6" aria-label="Editar" (click)="editaValor()" *ngIf="this.podeSalvar && !valorEditavel" title="Editar Valor">
                <lucide-icon name="pencil" class="inline w-4 h-4"/>
              </button>
              <button type="button" class="btn btn-xs btn-ghost btn-circle ml-6" aria-label="Fechar" (click)="cancelarEdicaoValor()" *ngIf="this.podeSalvar && valorEditavel" title="Cancelar Edição de Valor">
                <lucide-icon name="x" class="inline w-4 h-4"/>
              </button>
            <div class="placeholder-esquerdo">R$</div>
            <input type="text" formControlName="valor" min="1" max="99999" id="valor"
                   (input)="limitLength($event)" emptyToNull maxlength="8" placeholder="00,00"
                   mask="separator.2" thousandSeparator="" decimalMarker="," required
                   class="campo pl-7 py-[7px]" [ngClass]="styleClassesField('valor', !this.valorEditavel) " [readOnly]="!this.valorEditavel">
            <div *ngIf="isInvalid('valor')" class="text-error text-sm">
              Obrigatório
            </div>
          </label>
        </div>
        <div class="w-[5rem] mr-4" >
          <label class="label-campo" for="desconto">
            Desconto
            <div class="placeholder-esquerdo">R$</div>
            <input type="text" formControlName="desconto" min="1" max="99999" id="desconto"
                   (input)="limitLength($event)" emptyToNull maxlength="8" placeholder="00,00"
                   mask="separator.2" thousandSeparator="" decimalMarker=","
                   class="campo pl-7 py-[7px]" [ngClass]="styleClassesField('desconto')">
          </label>
        </div>
        <div class="w-[30rem]" >
          <label class="label-campo" for="observacoes">
            Observações
            <textarea id="observacoes" formControlName="observacoes" rows="2" emptyToNull class="campo"
                      (input)="autoResize($event)">
            </textarea>
          </label>
        </div>

      </div>

      <div class="flex justify-end gap-3 mt-6">
        <button type="button" class="btn btn-ghost btn-sm" (click)="fechar()" >
          Fechar
        </button>
        <button type="button" class="btn btn-primary btn-sm" *ngIf="podeAbrirAtendimento(agendamentoDetalhes)" (click)="abrirAtendimento(agendamentoDetalhes)" >
          Abrir Atendimento
        </button>
        <button type="submit" class="btn btn-success btn-sm" *ngIf="podeSalvar" >
          Salvar
        </button>
      </div>
    </form>

  </div>
</div>

@if (mostrarFormularioNovoPaciente) {
  <app-paciente-form
    (save)="salvarNovoPaciente($event)"
    (cancel)="cancelarNovoPaciente()"
  ></app-paciente-form>
}

<app-confirm-dialog
  *ngIf="exibeConfirmCancelamento"
  message="Você já preencheu algumas informações do agendamento, deseja realmente sair?"
  (confirm)="fechar(true)"
  (cancel)="exibeConfirmCancelamento = false"
></app-confirm-dialog>
