<div class="mt-4">

  <app-top-bar title="Agenda Diária" [showSearchBar]=false (search)="onSearch($event)"
         placeholderDropdown="Selecione o Profissional"
       [showDropdown]=true [registrosDropdown]="profissionais" (selectRegistro)="filtrarProfissional($event)" >
  </app-top-bar>

<app-calendario
  [events]="eventosExibicao"
  (detalhesAgendamento)="detalhesAgendamento($event)"
  (diaClicado)="diaClicado($event)"
  (horarioClicado)="horarioClicado($event)">
</app-calendario>

@if (exibeForm) {
  <app-agendamento-form
    [agendamentoDetalhes]="agendamentoDetalhes"
    [dataAgendamento]="dataAgendamento"
    [pacienteId]="pacienteId"
    (save)="salvar($event)"
    (cancel)="fecharForm()">
  </app-agendamento-form>
}

  <div class="fixed bottom-6 right-6 flex flex-col items-end gap-2">
    <button class="btn btn-primary btn-circle btn-lg" (click)="onAddNovo()">
      <lucide-icon name="plus" class="w-6 h-6"></lucide-icon>
    </button>
  </div>

</div>
