<div class="mt-4">

  <app-top-bar title="Agenda Diária" [showSearchBar]=false (search)="onSearch($event)"
         placeholderDropdown="Selecione o Profissional"
       [showDropdown]=true [registrosDropdown]="profissionais" (selectRegistro)="filtrarProfissional($event)" >
  </app-top-bar>

<app-calendario
  [events]="eventosExibicao"
  (detalhesAgendamento)="detalhesAgendamento($event)"
  (diaClicado)="diaClicado($event)"
  (horarioClicado)="horarioClicado($event)">
</app-calendario>

@if (exibeForm) {
  <app-agendamento-form
    [agendamentoDetalhes]="agendamentoDetalhes"
    [dataAgendamento]="dataAgendamento"
    [pacienteId]="pacienteId"
    (save)="salvar($event)"
    (cancel)="fecharForm()">
  </app-agendamento-form>
}

  <app-fab (clicked)="onAddNovo()"></app-fab>

</div>
