<div class="fixed inset-0 flex items-center justify-center bg-black/50 z-50 text-sm">
  <div class="bg-base-100 rounded-lg shadow-lg p-6 w-[58rem]"
    (click)="$event.stopPropagation()" >

    <div class="flex justify-between items-center">
      <div class="flex items-center gap-4 justify-between">
        <h2 class="text-lg font-semibold">{{ titulo }}</h2>
        <div *ngIf="agendamentoDetalhes" class="badge font-semibold p-3 text-base-100"
          [ngClass]="'bg-['+ StatusAgendamento[agendamentoDetalhes.status].cor +']'">
          {{ StatusAgendamento[agendamentoDetalhes.status].descricao }}
        </div>
      </div>

      <div>
        <button type="button" class="btn btn-sm btn-ghost btn-circle mr-1" title="Editar" (click)="onEdit()" *ngIf="podeEditar()">
          <lucide-icon name="pencil" class="inline w-5 h-5"/>
        </button>
        <button type="button" class="btn btn-sm btn-ghost btn-circle" title="Fechar" (click)="fechar()">
          <lucide-icon name="x" class="inline w-5 h-5"/>
        </button>
      </div>
    </div>

    <div *ngIf="isLoading" class="flex justify-center items-center h-32">
      <div class="animate-spin rounded-full h-16 w-16 border-b-2 border-primary"></div>
    </div>

    <form *ngIf="!isLoading" [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-6" [ngClass]="{ 'visualizacao': !modoSalvar }">
      <div class="flex">
        <div class="w-[7rem] mr-4" >
          <label class="label-campo" for="data">
            Data <span aria-hidden="true" class="text-error">*</span>

            <div class="relative">
              <input #dataAgendamento type="date" formControlName="data" required id="data" [min]="hoje"
                     class="campo" [ngClass]="classesCampo('data')" >
              <button type="button" class="absolute right-0.5 top-4 -translate-y-1/2" (click)="abrirDatePicker(dataAgendamento)">
                <lucide-icon name="calendar" class="inline h-4"/>
              </button>
              <div *ngIf="isInvalid('data')" class="text-error text-sm">
                Obrigatório
              </div>
            </div>


          </label>
        </div>

        <div class="w-[4rem] mr-4 group tooltip text-left" data-tip="Horário inicial do agendamento">
          <label class="label-campo" for="hora">
            Horário <span aria-hidden="true" class="text-error">*</span>
            <input type="text" formControlName="hora" maxlength="5" id="hora" required
                   mask="00:00" emptyToNull class="campo p-[7px]" [dropSpecialCharacters]="false"
                   [ngClass]="classesCampo('hora')">
            <div *ngIf="isInvalid('hora')" class="text-error text-sm">
              Obrigatório
            </div>
          </label>
        </div>
        <div class="w-[5rem] mr-4 group tooltip text-left" aria-placeholder="Duração em minutos"
             (mouseenter)="showTooltip = true" (mouseleave)="showTooltip = false" data-tip="Duração em minutos">
          <label class="label-campo" for="duracao">
            Duração <span aria-hidden="true" class="text-error">*</span>
            <input type="number" formControlName="duracao" min="10" max="480" id="duracao" required
                   (input)="limitLength($event)" emptyToNull maxlength="3"
                   class="campo p-[7px]" [ngClass]="classesCampo('duracao')">
            <div *ngIf="isInvalid('duracao')" class="text-error text-sm">
              Obrigatório
            </div>
          </label>
        </div>
        <div class="w-[19rem] mr-4" >
          <label class="label-campo" for="pacienteId">
            Paciente <span aria-hidden="true" class="text-error">*</span>
              <ng-select formControlName="pacienteId" class="campo-select"
                         [ngClass]="classesCampo('pacienteId')" labelForId="pacienteId" placeholder="Selecione"
                         (change)="selectPaciente($event)" (clear)="selectPaciente(null)" required >
                  @for(paciente of pacientes; track paciente.id) {
                    <ng-option [value]="paciente.id" class="b-0">{{ paciente.nome }} - {{ paciente.dataNascimento | date:'dd/MM/yyyy' }}</ng-option>
                  }
                <ng-template ng-notfound-tmp>
                  <div class="p-2 flex items-center justify-between gap-4">
                    <div class="p-2 text-sm">
                      Paciente não encontrado.
                    </div>
                    <button (click)="mostrarFormularioNovoPaciente=true" class="btn btn-success btn-xs flex items-center gap-2">
                      <lucide-icon name="plus" class="w-3 h-3"></lucide-icon>
                      Cadastrar
                    </button>
                  </div>
                </ng-template>
              </ng-select>
            <div *ngIf="isInvalid('pacienteId')" class="text-error text-sm">
              Obrigatório
            </div>
          </label>
        </div>

        <div class="w-[10rem] mr-4" >
          <label class="label-campo" for="tipoAgendamento">
            Tipo <span aria-hidden="true" class="text-error">*</span>
            <ng-select formControlName="tipoAgendamento" class="campo-select" required placeholder="Selecione"
                       [ngClass]="classesCampo('tipoAgendamento')" bindValue="valor" bindLabel="descricao"
                       [items]="tipoAgendamento" labelForId="tipoAgendamento"
                       (change)="selectTipo($event)" (clear)="selectTipo(null)">
              <ng-template ng-notfound-tmp>
                <span class="text-sm p-6">Nenhum resultado</span>
              </ng-template>
            </ng-select>
            <div *ngIf="isInvalid('tipoAgendamento')" class="text-error text-sm">
              Obrigatório
            </div>
          </label>
        </div>

        <div class="w-[5rem] tooltip text-left" data-tip="Caso marcado, possibilita cadastrar agendamento fora do horário disponível do médico">
          <label class="label-campo rounded-lg px-1.5 hover:border hover:border-neutral" for="encaixe">
            Encaixe <br/><input type="checkbox" id="encaixe" formControlName="encaixe" class="campo my-1.5 mx-3 checkbox checkbox-primary" />
          </label>
        </div>
      </div>

      <div class="flex mt-2">
        <div class="w-[12rem] mr-4">
          <label class="label-campo" for="convenioId">Convênio</label>
          <ng-select formControlName="convenioId" class="campo-select"
                     [ngClass]="classesCampo('convenioId')" placeholder="Selecione"
                     [items]="convenios" bindValue="id" bindLabel="nome" labelForId="convenioId"
                     (change)="selectConvenio($event)" (clear)="selectConvenio(null)">
            <ng-template ng-notfound-tmp>
              <span class="text-sm p-6">Nenhum resultado</span>
            </ng-template>
          </ng-select>
        </div>

        <div class="mr-4 w-[20rem]" >
          <label class="label-campo" for="especialidadeId">
            Especialidade <span aria-hidden="true" class="text-error">*</span>
            <ng-select formControlName="especialidadeId" required class="campo-select"
                       labelForId="especialidadeId" [ngClass]="classesCampo('especialidadeId')"
                       [items]="especialidadesFiltradas" bindValue="id" bindLabel="nome" placeholder="Selecione"
                       (change)="selectEspecialidade($event)" (clear)="selectEspecialidade(null)">
              <ng-template ng-notfound-tmp>
                <span class="text-sm p-6">Nenhum resultado</span>
              </ng-template>
            </ng-select>
            <div *ngIf="isInvalid('especialidadeId')" class="text-error text-sm">
              Obrigatório
            </div>
          </label>
        </div>

        <div class="w-[21rem]" >
          <label class="label-campo" for="profissionalId">
            Profissional <span aria-hidden="true" class="text-error">*</span>
            <ng-select formControlName="profissionalId" required class="campo-select"
                       [ngClass]="classesCampo('profissionalId')" placeholder="Selecione"
                       [items]="profissionaisFiltrados" bindValue="id" bindLabel="nome" labelForId="profissionalId"
                       (change)="selectProfissional($event.id)" (clear)="selectProfissional(null)">
              <ng-template ng-notfound-tmp>
                <span class="text-sm p-6">Nenhum resultado</span><br/>
                <span class="text-sm p-6">Verifique a especialidade selecionada</span>
              </ng-template>
            </ng-select>
            <div *ngIf="isInvalid('profissionalId')" class="text-error text-sm">
              Obrigatório
            </div>
          </label>
        </div>
      </div>

      <div class="flex mt-2">
        <div class="w-[24rem] mr-4" >
          <label class="label-campo" for="empresaId">
            Empresa
            <ng-select formControlName="empresaId" class="campo-select" [ngClass]="classesCampo('empresaId')"
                       [items]="empresas" bindValue="id" bindLabel="nome" labelForId="empresaId" placeholder="Selecione"
                       (change)="selectEmpresa($event)" (clear)="selectEmpresa(null)">
              <ng-template ng-notfound-tmp>
                <span class="text-sm p-6">Nenhum resultado</span>
              </ng-template>
            </ng-select>
            <div class="py-2 px-4 text-xs italic rounded-b-md" *ngIf="empresaSelecionada"
                 [ngClass]=" ColorUtils.getColorClasses(empresaSelecionada.plano) ">
              {{ empresaSelecionada.plano?.nome }}
            </div>
          </label>
        </div>

        <div class="w-[30rem]" >
          <label class="label-campo" for="procedimentoId">
            Procedimento Principal <span aria-hidden="true" class="text-error">*</span>
          </label>
          <ng-select formControlName="procedimentoId" class="campo-select" required
                     [ngClass]="classesCampo('procedimentoId')" placeholder="Selecione"
                     (change)="selectProcedimento($event)" (clear)="selectProcedimento(null)"
                     [items]="procedimentosFiltrados" bindValue="id" bindLabel="nome" labelForId="procedimentoId">
            <ng-template ng-notfound-tmp>
              <span class="text-sm p-6">Nenhum resultado</span>
            </ng-template>
          </ng-select>
          <div *ngIf="isInvalid('procedimentoId')" class="text-error text-sm">
            Obrigatório
          </div>
        </div>
      </div>

      <div class="flex mt-2">

      @if (!userService.isMedico()) {

        <div class="w-[11rem] mr-4" >
          <label class="label-campo" for="formaPagamento">
            Forma de Pagamento <span aria-hidden="true" class="text-error">*</span>
            <ng-select formControlName="formaPagamento" class="campo-select" required placeholder="Selecione"
                       [ngClass]="classesCampo('formaPagamento')" bindValue="valor" bindLabel="descricao"
                       [items]="this.formasPagamento" labelForId="formaPagamento">
              <ng-template ng-notfound-tmp>
                <span class="text-sm p-6">Nenhum resultado</span>
              </ng-template>
            </ng-select>
            <div *ngIf="isInvalid('formaPagamento')" class="text-error text-sm">
              Obrigatório
            </div>
          </label>
        </div>
        <div class="w-[6rem] mr-4 tooltip text-left" data-tip="Somente com permissão de um admin">
          <label class="label-campo" for="valor">
            Valor <span aria-hidden="true" class="text-error">*</span>
            <button type="button" class="btn btn-xs btn-ghost btn-circle absolute ml-7 -mt-0.5" (click)="solicitarHabilitacaoValor()" *ngIf="this.modoSalvar && !valorEditavel" title="Editar Valor">
              <lucide-icon name="pencil" class="h-3.5"/>
            </button>
            <button type="button" class="btn btn-xs btn-ghost btn-circle absolute ml-7 -mt-0.5" (click)="cancelarEdicaoValor()" *ngIf="this.modoSalvar && valorEditavel" title="Cancelar Edição de Valor">
              <lucide-icon name="x" class="h-3.5"/>
            </button>
          </label>

          <label class="input input-sm input-bordered flex items-center h-[2.4rem]" [ngClass]="classesCampo('valor', !this.valorEditavel)">
            R$
            <input type="text" formControlName="valor" min="1" max="99999" id="valor"
                   (input)="limitLength($event)" emptyToNull maxlength="8" placeholder="00,00"
                   mask="separator.2" thousandSeparator="" decimalMarker="," required
                   class="campo border-0"
                   (change)="alterouValor($event)">
          </label>
          <label *ngIf="isInvalid('valor')" class="text-error text-sm">
            Obrigatório
          </label>
        </div>

        <div class="w-[6rem] mr-4 tooltip text-left" data-tip="Somente com permissão de um admin">
          <label class="label-campo" for="desconto">
            Desconto
            <button type="button" class="btn btn-xs btn-ghost btn-circle absolute ml-1 -mt-0.5" (click)="solicitarHabilitacaoDesconto()" *ngIf="this.modoSalvar && !descontoEditavel" title="Editar Desconto">
              <lucide-icon name="pencil" class="h-3.5"/>
            </button>
            <button type="button" class="btn btn-xs btn-ghost btn-circle absolute ml-1 -mt-0.5" (click)="cancelarEdicaoDesconto()" *ngIf="this.modoSalvar && descontoEditavel" title="Cancelar Edição de Desconto">
              <lucide-icon name="x" class="h-3.5"/>
            </button>
          </label>
          <label class="input input-sm input-bordered flex items-center h-[2.4rem]" [ngClass]="classesCampo('desconto', !this.descontoEditavel)">
            R$
            <input type="text" formControlName="desconto" min="1" max="99999" id="desconto"
                   (input)="limitLength($event)" emptyToNull maxlength="8" placeholder="00,00"
                   mask="separator.2" thousandSeparator="" decimalMarker="," class="campo border-0"
                   [readOnly]="!this.descontoEditavel" (change)="alterouDesconto($event)">
          </label>
        </div>

        <div class="w-[11rem] mr-4">
            <label class="label-campo mb-2">Pagamento</label>
            <div class="flex gap-4 items-center h-[2.4rem]">
              <label class="flex items-center gap-2" [ngClass]="{'cursor-pointer': modoSalvar}">
                <input type="radio" name="tipoPagamento" class="radio radio-primary radio-sm"
                       [checked]="tipoPagamento === 'pago'"
                       [disabled]="!modoSalvar"
                       (change)="selecionarTipoPagamento('pago')">
                <span class="text-sm">Pago</span>
              </label>
              <label class="flex items-center gap-2" [ngClass]="{'cursor-pointer': modoSalvar}">
                <input type="radio" name="tipoPagamento" class="radio radio-primary radio-sm"
                       [checked]="tipoPagamento === 'parcial'"
                       [disabled]="!modoSalvar"
                       (change)="selecionarTipoPagamento('parcial')">
                <span class="text-sm">Parcial</span>
              </label>
            </div>
        </div>

        <div class="w-[8rem] mr-4">
          <label class="label-campo" for="quantiaPaga">
            Quantia Paga
          </label>
          <label class="input input-sm input-bordered flex items-center h-[2.4rem]" [ngClass]="{'bg-base-200': tipoPagamento === 'pago' && modoSalvar, '!bg-base-100': !modoSalvar}">
            R$
            <input type="text" formControlName="quantiaPaga" min="0" id="quantiaPaga"
                   (input)="limitLength($event); calcularQuantiaFaltante()" emptyToNull maxlength="8" placeholder="00,00"
                   mask="separator.2" thousandSeparator="" decimalMarker="," class="campo border-0"
                   [readOnly]="tipoPagamento === 'pago'">
          </label>
        </div>

        <div class="w-[8rem]">
          <label class="label-campo" for="quantiaFaltante">
            Quantia Faltante
          </label>
          <label class="input input-sm input-bordered flex items-center h-[2.4rem] bg-base-200">
            R$
            <input type="text" [value]="quantiaFaltante | currency:'BRL':'':'1.2-2'" id="quantiaFaltante"
                   class="campo border-0 bg-base-200" readonly>
          </label>
        </div>

      }

      </div>

      <div class="flex mt-2">
        <div class="w-full" >
          <label class="label-campo" for="observacoes">
            Observações
            <textarea id="observacoes" formControlName="observacoes" rows="2" emptyToNull class="campo"
                      (input)="autoResize($event)">
            </textarea>
          </label>
        </div>
      </div>

      <div class="flex mt-4">
        <div class="w-full">
          <div class="flex justify-start items-center mb-2 gap-4">
            <h3 class="text-base font-medium">Procedimentos Adicionais</h3>
            @if (modoSalvar) {
              <button type="button" class="btn btn-primary btn-xs" (click)="adicionarProcedimento()">
                <lucide-icon name="plus" class="w-4 h-4"></lucide-icon>
                Adicionar
              </button>
            }
          </div>

          <div class="rounded-t-lg">

            @if(procedimentosLancados.controls.length > 0) {
              <div class="grid grid-cols-[6rem_1fr_8rem_1rem] gap-3 p-3 font-medium text-sm">
                <div>Quantidade</div>
                <div>Procedimento</div>
                <div>Valor</div>
                <div></div>
              </div>
            } @else {
              <div class="px-6 py-0">
                Nenhum procedimento adicional
              </div>
            }

          </div>

          <div class="space-y-1" formArrayName="procedimentos">
            <div *ngFor="let procedimento of procedimentosLancados.controls; let i = index" [formGroupName]="i"
                 class="grid grid-cols-[6rem_1fr_8rem_2rem] gap-3 px-1.5 items-center hover:bg-base-200 rounded-lg">

              <input [id]="'quantidade_' + i" type="number" min="1" formControlName="quantidade" class="campo mt-0 p-2" (change)="calcularValorTotal(); calcularDuracaoTotal()" >

              <ng-select [id]="'procedimento_' + i"  class="campo-select mt-0"
                         formControlName="procedimentoId"
                         placeholder="Selecione um procedimento"
                         (change)="calcularValorProcedimento(i); calcularDuracaoTotal()"
                         [items]="procedimentos" bindValue="id" bindLabel="nome">
                <ng-template ng-notfound-tmp>
                  <span class="text-sm p-6">Nenhum resultado</span>
                </ng-template>
              </ng-select>

              <input [id]="'valor_' + i" type="hidden" formControlName="valor" class="hidden" readonly>
              <input [id]="'valor_exibicao_' + i" type="text" formControlName="valorExibicao" class="campo mt-0 p-2" placeholder="R$ 0,00" mask="separator.2" thousandSeparator="." separatorLimit="9999999" [dropSpecialCharacters]="false" prefix="R$ " readonly>

              @if (modoSalvar) {
                <button type="button" class="btn btn-ghost btn-circle btn-sm" (click)="removerProcedimento(i)" title="Excluir procedimento">
                  <lucide-icon name="trash" class="h-5 text-error"></lucide-icon>
                </button>
              }
            </div>
          </div>
        </div>
      </div>

      <!-- Valor total -->
      <div class="flex justify-between items-center mt-6 p-4 bg-primary/10 rounded-lg">
        <span class="text-lg font-semibold">Valor Total</span>
        <span class="text-xl font-bold text-primary">
          {{ valorTotalAgendamento | currency:'BRL':'symbol':'1.2-2' }}
        </span>
      </div>

      <div class="flex justify-between mt-6">
        <button type="button" class="btn btn-sm" (click)="fechar()" >
          Fechar
        </button>
        <div class="flex justify-end gap-3">
          <button type="button" class="btn btn-primary btn-sm" *ngIf="podeAbrirAtendimento(agendamentoDetalhes)" (click)="abrirAtendimento(agendamentoDetalhes)" >
            Abrir Atendimento
          </button>
          <button type="button" class="btn btn-ghost btn-sm hidden" *ngIf="modoSalvar" (click)="salvarRascunho()" title="Salvar as informações preenchidas como rascunho">
            Salvar Rascunho
          </button>
          <button type="submit" class="btn btn-success btn-sm" *ngIf="modoSalvar" >
            Salvar
          </button>
        </div>
      </div>
    </form>

  </div>
</div>

<app-paciente-form
  *ngIf="mostrarFormularioNovoPaciente"
  (save)="salvarNovoPaciente($event)"
  (cancel)="cancelarNovoPaciente()">
</app-paciente-form>

<app-confirm-dialog
  *ngIf="exibeConfirmCancelamento"
  message="Você já preencheu algumas informações do agendamento, deseja realmente sair?"
  (confirm)="fechar(true)"
  (cancel)="exibeConfirmCancelamento = false">
</app-confirm-dialog>

<app-admin-credentials-dialog
  *ngIf="mostrarModalCredenciais"
  [mensagem]="mensagemModalCredenciais"
  (confirm)="validarCredenciaisAdmin($event)"
  (cancel)="cancelarModalCredenciais()">
</app-admin-credentials-dialog>
