<div class="bg-modal" (click)="onCancel()"></div>
<div class="painel-direito">
  <div class="p-4">
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-xl font-semibold">{{isEditMode ? 'Editar Empresa' : 'Nova Empresa'}}</h2>
      <button (click)="onCancel()" class="text-gray-500 hover:text-gray-700">
        <lucide-icon name="x" class="right-0 inline w-6 h-6"/>
      </button>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="space-y-4">

        <div>
          <label class="label-campo">Nome</label>
          <input type="text" formControlName="nome"
                 class="campo">
        </div>

        <div>
          <label class="label-campo">Código BC</label>
          <input type="text" formControlName="codigoBc"
                 class="campo">
        </div>

        <div class="flex gap-3">
          <div class="w-full">
            <label class="label-campo">Valor Mín. Mensal</label>
            <div class="placeholder-esquerdo p-3.5">R$</div>
            <input type="text" formControlName="valorMinimoMensal" class="campo pl-8 py-[7px]" mask="separator.2"
                   thousandSeparator="" decimalMarker="," placeholder="00,00" emptyToNull maxlength="8">
          </div>

          <div class="w-full">
            <label class="label-campo">Mín. por Funcionário</label>
            <div class="placeholder-esquerdo p-3.5">R$</div>
            <input type="text" formControlName="minimoPorFuncionario" class="campo pl-8" mask="separator.2"
                   thousandSeparator="" decimalMarker="," placeholder="00,00" emptyToNull maxlength="8">
          </div>

          <div class="w-full">
            <label class="label-campo">Valor Mês</label>
            <div class="placeholder-esquerdo p-3.5">R$</div>
            <input type="text" formControlName="valorMes" class="campo pl-8" mask="separator.2"
                   thousandSeparator="" decimalMarker="," placeholder="00,00" emptyToNull maxlength="8">
          </div>
        </div>

        <div>
          <label class="label-campo">
            Plano
            <ng-select formControlName="planoId" class="campo-select"
                       [ngClass]="styleClassesField('planoId')"
                       labelForId="planoId" >
              @for (plano of planos; track plano.id) {
                <ng-option [value]="plano.id">
                  <div [class]="plano.corFundo" class="p-2 -m-1">
                    {{plano.nome}}
                  </div>
                </ng-option>
              }
            </ng-select>
          </label>
        </div>

        <div>
          <label class="label-campo">Observações</label>
          <textarea id="descricao"
            formControlName="observacao" rows="5" emptyToNull
            class="campo" >
          </textarea>
        </div>

        <div class="flex justify-end space-x-3 mt-6">
          <button type="button" (click)="onCancel()" class="btn-neutro">
            Cancelar
          </button>
          <button type="submit" class="btn-salvar">
            Salvar
          </button>
        </div>
      </div>
    </form>

  </div>
</div>
