<div class="mt-4">

  <app-top-bar (search)="onSearch($event)" title="Honorários"></app-top-bar>

  @if (isLoading) {
    <div class="flex justify-center items-center h-32">
      <div class="animate-spin rounded-full h-16 w-16 border-b-2 border-primary"></div>
    </div>
  } @else if (itensExibicao.length === 0) {
    <div class="text-center py-8 w-full bg-base-100 rounded-lg shadow-md">
      <p>Nenhum registro encontrado.</p>
    </div>
  } @else {
    <div class="min-h-[36rem]">
      <div class="titulo-listagem grid-cols-[150px_1fr_150px_150px_150px_32px]">
        <div (click)="ordenar('data')" class="cabecalho-listagem rounded-tl-lg">
          <lucide-icon *ngIf="getSortIcon('data')" [name]="getSortIcon('data')" class="icone-ordenacao"/>
          Data
        </div>
        <div (click)="ordenar('profissional')" class="cabecalho-listagem">
          <lucide-icon *ngIf="getSortIcon('profissional')" [name]="getSortIcon('profissional')" class="icone-ordenacao"/>
          Profissional
        </div>
        <div class="cabecalho-listagem text-center">
          Atendimentos
        </div>
        <div (click)="ordenar('valorAdicional')" class="cabecalho-listagem text-right">
          <lucide-icon *ngIf="getSortIcon('valorAdicional')" [name]="getSortIcon('valorAdicional')" class="icone-ordenacao"/>
          Valor Adicional
        </div>
        <div (click)="ordenar('valorTotal')" class="cabecalho-listagem text-right">
          <lucide-icon *ngIf="getSortIcon('valorTotal')" [name]="getSortIcon('valorTotal')" class="icone-ordenacao"/>
          Valor Total
        </div>
        <div class="cabecalho-listagem p-0 rounded-tr-lg"></div>
      </div>

      <div class="itens-listagem">
        @for (honorario of getItensPaginados(); track honorario.id) {
          <div class="item-listagem grid-cols-[150px_1fr_150px_150px_150px_32px]"
               [class.bg-error]="honorario.excluido"
               [class.bg-opacity-50]="honorario.excluido"
               (click)="selecionar(honorario)">
            <div class="celula-listagem">
              {{ honorario.data | date:'dd/MM/yyyy' }}
            </div>
            <div class="celula-listagem">
              {{ honorario.profissional.nome }} <span *ngIf="honorario.excluido" class="excluido">Excluído</span>
            </div>
            <div class="celula-listagem text-center">
              {{ honorario.quantidadeAtendimentos }}
            </div>
            <div class="celula-listagem text-right">
              {{ (honorario.valorAdicional || 0) | currency:'BRL':'symbol':'1.2-2' }}
            </div>
            <div class="celula-listagem text-right font-semibold">
              {{ honorario.valorTotal | currency:'BRL':'symbol':'1.2-2' }}
            </div>
            <div class="p-0 text-right">
              <div class="dropdown dropdown-end" (click)="$event.stopPropagation()">
                <label tabindex="0" class="btn btn-ghost btn-sm m-0 p-0">
                  <lucide-icon name="ellipsis-vertical" class="h-5" />
                </label>
                <ul tabindex="0" class="dropdown-content menu p-1 shadow-lg bg-base-100 rounded-lg w-40 z-[1] font-semibold">
                  <li *ngIf="!honorario.excluido">
                    <a (click)="perguntaExcluir($event, honorario)"
                       class="text-error hover:bg-error/50">
                      Excluir
                    </a>
                  </li>
                  <li *ngIf="honorario.excluido">
                    <a (click)="restaurar($event, honorario)"
                       class="text-success hover:bg-success/20">
                      Restaurar
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        }
      </div>
    </div>

    <app-pagination [items]="itensExibicao" [totalPaginas]="totalPaginas" (pageChange)="pageChange($event)"></app-pagination>
  }

  @if (mostrarFormularioNovo) {
    <app-honorarios-form
      (cancel)="cancelarNovo()"
    ></app-honorarios-form>
  }

  @if (mostrarDetalhes) {
    <app-honorarios-form
      [honorario]="itemSelecionado"
      (cancel)="fecharDetalhes()"
    ></app-honorarios-form>
  }

  <app-confirm-dialog
    *ngIf="exibeConfirmExclusao"
    message="Deseja realmente excluir este honorário?"
    (confirm)="excluir()"
    (cancel)="fecharConfirmExclusao()"
  ></app-confirm-dialog>

  <app-fab (clicked)="onAddNovo()"></app-fab>

</div>
