<div class="mt-4">

  <app-top-bar (search)="onSearch($event)" title="Honorários"></app-top-bar>

  @if (isLoading) {
    <div class="flex justify-center items-center h-32">
      <div class="animate-spin rounded-full h-16 w-16 border-b-2 border-primary"></div>
    </div>
  } @else if (itensExibicao.length === 0) {
    <div class="text-center py-8 w-full bg-base-100 rounded-lg shadow-md">
      <p>Nenhum registro encontrado.</p>
    </div>
  } @else {
    <div class="overflow-x-auto">
      <table class="table w-full">
        <thead>
        <tr>
          <th>Data</th>
          <th>Profissional</th>
          <th>Quantidade de Atendimentos</th>
          <th class="text-right">Valor Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let honorario of getItensPaginados();" class="hover:bg-base-200">
          <td>{{ honorario.data | date:'dd/MM/yyyy' }}</td>
          <td>{{ honorario.profissional.nome }}</td>
          <td>{{ honorario.quantidadeAtendimentos }}</td>
          <td class="text-right font-semibold">
            {{ honorario.valorTotal | currency:'BRL':'symbol':'1.2-2' }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  }

  <app-honorarios-form
    *ngIf="mostrarFormularioNovo"
    (cancel)="cancelarNovo()">
  </app-honorarios-form>

  <app-fab (clicked)="onAddNovo()"></app-fab>

</div>
