<div class="bg-modal" (click)="onCancel()"></div>
<div class="painel-direito">
  <div class="p-4">
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-xl font-semibold">{{isEditMode ? 'Editar Atendimento' : 'Novo Atendimento'}}</h2>
      <button type="button" (click)="onCancel()" class="btn btn-sm btn-ghost hover:bg-base-200" aria-label="Fechar">
        <lucide-icon name="x" class="right-0 inline w-6 h-6"/>
      </button>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="space-y-4">

        <div>
          <label class="label-campo">Nome</label>
          <input type="text" formControlName="nome" required class="campo" [ngClass]="styleClassesField('nome')">
        </div>

        <div>
          <label class="label-campo">Observações</label>
          <textarea id="descricao"
            formControlName="descricao" rows="5" emptyToNull
            class="campo" >
          </textarea>
        </div>

        <div class="flex justify-end space-x-3 mt-6">
          <button type="button" (click)="onCancel()" class="btn btn-ghost btn-sm">
            Cancelar
          </button>
          <button type="submit" class="btn btn-success btn-sm">
            Salvar
          </button>
        </div>
      </div>
    </form>

  </div>
</div>
