<div class="fixed inset-0 flex items-center justify-center bg-black/50 z-50 text-sm" (click)="fechar()">
  <div class="bg-base-100 rounded-lg shadow-lg p-6 w-[62rem]"
       (click)="$event.stopPropagation()" >

    <div class="flex justify-between items-center">
      <h2 class="text-lg font-semibold">{{ titulo }}</h2>

      <div>
        <button type="button" class="btn btn-sm btn-ghost btn-circle" aria-label="Fechar" (click)="fechar()" title="Fechar">
          <lucide-icon name="x" class="inline w-5 h-5"/>
        </button>
      </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-2">

      <div class="tabs tabs-bordered min-w-max">
        <input type="radio" name="atendimento_tabs" class="tab-atendimento"
               aria-label="Anamnese" checked="checked" />
        <div class="tab-content">
          <div class="w-[52rem] p-4">
            <label class="label-campo" for="anamnese">
              Anamnese
              <textarea id="anamnese" formControlName="anamnese" rows="5" emptyToNull class="campo"></textarea>
            </label>
          </div>
        </div>

        <input type="radio" name="atendimento_tabs" class="tab-atendimento"
               aria-label="Exame Físico" />
        <div class="tab-content">
          <div class="w-[52rem] p-4">
            <label class="label-campo" for="exameFisico">
              Exame Físico
              <textarea id="exameFisico" formControlName="exameFisico" rows="5" emptyToNull class="campo"></textarea>
            </label>
          </div>
        </div>

        <input type="radio" name="atendimento_tabs" class="tab-atendimento"
               aria-label="Diagnóstico" />
        <div class="tab-content">
          <div class="w-[52rem] p-4">
            <label class="label-campo" for="diagnostico">
              Diagnóstico
              <textarea id="diagnostico" formControlName="diagnostico" rows="5" emptyToNull class="campo"></textarea>
            </label>
          </div>
        </div>

        <input type="radio" name="atendimento_tabs" class="tab-atendimento" aria-label="Evolução Clínica" />
        <div class="tab-content">
          <div class="w-[52rem] p-4">
            <label class="label-campo" for="evolucaoClinica">
              Evolução Clínica
              <textarea id="evolucaoClinica" formControlName="evolucaoClinica" rows="5" emptyToNull class="campo"></textarea>
            </label>
          </div>
        </div>

        <input type="radio" name="atendimento_tabs" class="tab-atendimento" aria-label="Exames Solicitados" />
        <div class="tab-content">
          <div class="w-[52rem] p-4">
            <label class="label-campo" for="examesSolicitados">
              Exames Solicitados
              <textarea id="examesSolicitados" formControlName="examesSolicitados" rows="5" emptyToNull class="campo"></textarea>
            </label>
          </div>
        </div>

        <input type="radio" name="atendimento_tabs" class="tab-atendimento" aria-label="Prescrições" />
        <div class="tab-content">
          <div class="w-[52rem] p-4">
            <label class="label-campo" for="prescricoes">
              Prescrições
              <textarea id="prescricoes" formControlName="prescricoes" rows="5" emptyToNull class="campo"></textarea>
            </label>
          </div>
        </div>

        <input type="radio" name="atendimento_tabs" class="tab-atendimento" aria-label="Observações" />
        <div class="tab-content">
          <div class="w-[52rem] p-4">
            <label class="label-campo" for="observacoes">
              Observações
              <textarea id="observacoes" formControlName="observacoes" rows="5" emptyToNull class="campo"></textarea>
            </label>
          </div>
        </div>
      </div>

      <div class="flex mt-2">
        <div class="w-full">
          <div class="flex justify-between items-center mb-2">
            <h3 class="text-lg font-medium">Procedimentos Lançados</h3>
            <button type="button" class="btn btn-primary btn-xs" (click)="adicionarProcedimento()">
              <i-lucide name="plus" class="w-4 h-4"></i-lucide>
              Adicionar Procedimento
            </button>
          </div>

          <div class="rounded-t-lg">
            <div class="grid grid-cols-[6rem_1fr_8rem_1rem] gap-3 p-3 font-medium">
              <div>Quantidade</div>
              <div>Procedimento</div>
              <div>Valor</div>
              <div></div>
            </div>
          </div>

          <div class="space-y-1" formArrayName="procedimentos">
            <div *ngFor="let procedimento of procedimentosLancados.controls; let i = index" [formGroupName]="i"
                 class="grid grid-cols-[6rem_1fr_8rem_2rem] gap-3 p-1.5 items-center hover:bg-base-200 rounded-lg">

              <input [id]="'quantidade_' + i" type="number" min="1" formControlName="quantidade"
                     class="campo mt-0 p-2" (change)="atualizarValorPorQuantidade(i)">

              <ng-select [id]="'procedimento_' + i"  class="campo-select mt-0"
                         formControlName="procedimentoId"
                         placeholder="Selecione um procedimento"
                         (change)="atualizarValorProcedimento(i, $event?.id)">
                @for (procedimento of procedimentos; track procedimento.id) {
                  <ng-option [value]="procedimento.id">{{procedimento.nome}}</ng-option>
                }
                <ng-template ng-notfound-tmp>
                  <span class="text-sm p-6">Nenhum resultado</span>
                </ng-template>
              </ng-select>

              <input [id]="'valor_' + i" type="number" formControlName="valor" class="campo mt-0 p-2" readonly >

              <button type="button" class="btn btn-ghost btn-circle btn-xs" (click)="removerProcedimento(i)" aria-label="Excluir lançamento">
                <lucide-icon name="trash" class="w-4 h-4 text-error"></lucide-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="flex justify-end gap-3 mt-6">
        <button type="button" class="btn btn-ghost btn-sm" (click)="fechar()" >
          Fechar
        </button>
        <button type="submit" class="btn btn-success btn-sm" >
          Salvar
        </button>
      </div>
    </form>

  </div>
</div>

<app-confirm-dialog
  *ngIf="exibeConfirmCancelamento"
  message="Você já preencheu algumas informações do atendimento, deseja realmente sair?"
  (confirm)="fechar(true)"
  (cancel)="exibeConfirmCancelamento = false"
></app-confirm-dialog>
