<div class="fixed inset-0 bg-black bg-opacity-50 z-40" (click)="onCancel()"></div>
<div class="fixed right-0 top-0 h-full w-[30rem] bg-white shadow-lg z-50 overflow-y-auto">
  <div class="p-4">
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-xl font-semibold">{{isEditMode ? 'Editar Paciente' : 'Novo Paciente'}}</h2>
      <button (click)="onCancel()" class="text-gray-500 hover:text-gray-700">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>

    <form [formGroup]="pacienteForm" (ngSubmit)="onSubmit()">
      <div class="space-y-4">
        <div>
          <label class="block font-medium text-gray-700">Nome</label>
          <input type="text" formControlName="nome" name="nome" required
             class="mt-1 p-1 block w-full rounded-md border border-gray-300"
             [ngClass]="{'border-red-500': pacienteForm.get('nome')?.invalid && pacienteForm.get('nome')?.touched}" >
              @if (pacienteForm.get('nome')?.touched) {
                <div *ngIf="pacienteForm.get('nome')?.hasError('required')"
                  class="text-red-500 text-sm">
                  Nome é obrigatório.
                </div>
              }
        </div>

        <div class="flex space-x-4">
          <div class="w-52">
            <label class="block font-medium text-gray-700">CPF</label>
            <input type="text" formControlName="cpf" name="cpf"
                   mask="000.000.000-00"
                   emptyToNull
                   class="mt-1 p-1 block w-full rounded-md border border-gray-300">

          </div>
          <div class="w-56">
            <label class="block font-medium text-gray-700">Data Nascimento</label>
            <input type="date" formControlName="dataNascimento" required
                   class="mt-1 p-1 block w-full rounded-md border border-gray-300"
                   [ngClass]="{'border-red-500': pacienteForm.get('dataNascimento')?.invalid && pacienteForm.get('dataNascimento')?.touched}" >
            @if (pacienteForm.get('dataNascimento')?.touched) {
              <div *ngIf="pacienteForm.get('dataNascimento')?.hasError('required')"
                   class="text-red-500 text-sm">
                Data de Nascimento é obrigatória.
              </div>
            }
          </div>
        </div>

        <div class="flex space-x-4">
          <div class="w-52">
            <div>
              <label class="block font-medium text-gray-700">Sexo</label>
              <select formControlName="sexo"
                      class="mt-1 p-1 block w-full rounded-md border border-gray-300">
                <option [ngValue]="null">Selecione</option>
                <option *ngFor="let sexo of SEXOS" [value]="sexo.sigla">{{ sexo.descricao }}</option>
              </select>
            </div>
          </div>
          <div class="w-56">
            <div>
              <label class="block font-medium text-gray-700">Celular</label>
              <input type="tel" formControlName="celular"
                     mask="(00) 00000-0000"
                     emptyToNull
                     class="mt-1 p-1 block w-full rounded-md border border-gray-300">
            </div>
          </div>
        </div>

        <div class="flex space-x-4">
          <div>
            <div class="w-52">
              <label class="block font-medium text-gray-700">CEP</label>
              <input type="text" formControlName="cep"
                     (blur)="buscarCep()" mask="00000-000"
                     emptyToNull
                     class="mt-1 p-1 block w-full rounded-md border border-gray-300">
            </div>
          </div>
          <div>
            <div class="w-56">
              <label class="block font-medium text-gray-700">UF</label>
              <select formControlName="uf"
                      class="mt-1 p-1 block w-full rounded-md border border-gray-300">
                <option [ngValue]="null">Selecione</option>
                <option *ngFor="let estado of estados" [value]="estado.sigla">{{ estado.nome }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="flex space-x-4">
          <div class="w-52">
            <div>
              <label class="block font-medium text-gray-700">Cidade</label>
              <input type="text" formControlName="cidade" emptyToNull
                     class="mt-1 p-1 block w-full rounded-md border border-gray-300">
            </div>
          </div>
          <div class="w-56">
            <div>
              <label class="block font-medium text-gray-700">Bairro</label>
              <input type="text" formControlName="bairro" emptyToNull
                     class="mt-1 p-1 block w-full rounded-md border border-gray-300">
            </div>
          </div>
        </div>

        <div class="flex space-x-4">
          <div class="w-52">
            <div>
              <label class="block font-medium text-gray-700">Rua</label>
              <input type="text" formControlName="rua" emptyToNull
                     class="mt-1 p-1 block w-full rounded-md border border-gray-300">
            </div>
          </div>
          <div class="w-56">
            <div>
              <label class="block font-medium text-gray-700">Complemento</label>
              <input type="text" formControlName="complemento" emptyToNull
                     class="mt-1 p-1 block w-full rounded-md border border-gray-300">
            </div>
          </div>
        </div>

        <div>
          <label class="block font-medium text-gray-700">Convênio</label>
          <select formControlName="convenioId"
                  class="mt-1 p-1 block w-full rounded-md border border-gray-300">
            <option [ngValue]="null">Selecione</option>
            <option *ngFor="let convenio of convenios" [value]="convenio.id">
              {{ convenio.nome }}
            </option>
          </select>
        </div>

        <div>
          <label class="block font-medium text-gray-700">Email</label>
          <input type="email" formControlName="email"
                 class="mt-1 p-1 block w-full rounded-md border border-gray-300">
        </div>

        <div class="flex justify-end space-x-3 mt-6">
          <button type="button"
                  (click)="onCancel()"
                  class="px-4 py-2 border rounded-md hover:bg-gray-100">
            Cancelar
          </button>
          <button type="submit" class="px-4 py-2 bg-green-600 text-white rounded-md hover:bg-green-700">
            Salvar
          </button>
        </div>
      </div>
    </form>

  </div>
</div>
