<div class="container mx-auto mt-8 mb-2 rounded-lg">

        @if (isLoading) {
            <div class="flex justify-center items-center h-32">
                <div class="animate-spin rounded-full h-8 w-8 border-t-2 border-b-2 border-primary"></div>
            </div>
        } @else if (pacientes.length === 0) {
            <div class="text-center py-8">
                <p class="text-gray-500">Nenhum paciente encontrado.</p>
            </div>
        } @else {
            <div class="overflow-x-auto rounded-lg">
                <table class="min-w-full table-auto">
                    <thead class="text-white bg-[#524ED2]">
                        <tr>
                            <th (click)="ordenar('nome')" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider w-auto cursor-pointer hover:bg-[#423DC2]">
                                <lucide-icon *ngIf="getSortIcon('nome')" [name]="getSortIcon('nome')" class="inline w-4 h-4"/>
                                Nome
                            </th>
                            <th (click)="ordenar('cpf')" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider w-40 cursor-pointer hover:bg-[#423DC2]">
                                <lucide-icon *ngIf="getSortIcon('cpf')" [name]="getSortIcon('cpf')" class="inline ml-1 w-4 h-4"/>
                                CPF
                            </th>
                            <th (click)="ordenar('dataNascimento')" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider w-40 cursor-pointer hover:bg-[#423DC2]">
                                <lucide-icon *ngIf="getSortIcon('dataNascimento')" [name]="getSortIcon('dataNascimento')" class="inline ml-1 w-4 h-4"/>
                                Nascimento
                            </th>
                            <th (click)="ordenar('celular')" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider w-40 cursor-pointer hover:bg-[#423DC2]">
                                <lucide-icon *ngIf="getSortIcon('celular')" [name]="getSortIcon('celular')" class="inline ml-1 w-4 h-4"/>
                                Celular
                            </th>
                            <th (click)="ordenar('proximaConsulta')" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider w-48 cursor-pointer hover:bg-[#423DC2]">
                                <lucide-icon *ngIf="getSortIcon('proximaConsulta')" [name]="getSortIcon('proximaConsulta')" class="inline ml-1 w-4 h-4"/>
                                Próxima Consulta
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider w-32">
                                Ações
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        @for (paciente of pacientes; track paciente.id) {
                            <tr class="hover:bg-gray-100 cursor-pointer">
                                <td class="px-6 py-4 whitespace-nowrap" (click)="selecionarPaciente(paciente)">{{paciente.nome}}</td>
                                <td class="px-6 py-4 whitespace-nowrap w-40" (click)="selecionarPaciente(paciente)">{{paciente.cpf}}</td>
                                <td class="px-6 py-4 whitespace-nowrap w-40" (click)="selecionarPaciente(paciente)">{{paciente.dataNascimento | date:'dd/MM/yyyy'}}</td>
                                <td class="px-6 py-4 whitespace-nowrap w-40" (click)="selecionarPaciente(paciente)">{{paciente.celular}}</td>
                                <td class="px-6 py-4 whitespace-nowrap w-44" (click)="selecionarPaciente(paciente)">{{paciente.proximaConsulta | date:'dd/MM/yyyy'}}</td>
                                <td class="px-6 py-4 whitespace-nowrap w-32 text-right">
                                    <div class="relative">
                                        <button
                                            (click)="toggleDropdown($event, paciente.id)"
                                            class="inline-flex items-center px-3 py-2 border border-gray-300 text-sm leading-4 font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary" >
                                            Ações
                                            <svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                            </svg>
                                        </button>
                                        @if (dropdownAbertoPara === paciente.id) {
                                            <div class="origin-top-right absolute right-0 mt-2 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-50">
                                                <div class="py-1 flex flex-col">
                                                    <a
                                                        (click)="handleAction($event, 'agendar', paciente)"
                                                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer" >
                                                        Agendar Consulta
                                                    </a>
                                                    <hr />
                                                    <a
                                                        (click)="handleAction($event, 'historico', paciente)"
                                                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer" >
                                                        Ver Histórico
                                                    </a>
                                                    <hr />
                                                    <a
                                                        (click)="handleAction($event, 'editar', paciente)"
                                                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer" >
                                                        Editar
                                                    </a>
                                                    <hr />
                                                    <a
                                                        (click)="handleAction($event, 'excluir', paciente)"
                                                        class="block px-4 py-2 text-sm text-red-700 hover:bg-red-50 cursor-pointer" >
                                                        Excluir
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

        @if (pacienteSelecionado) {
            <app-paciente-detalhes
                [paciente]="pacienteSelecionado"
                (fechou)="fecharDetalhes()">
            </app-paciente-detalhes>
        }
</div>
