<div class="mt-4">

  <app-top-bar (search)="onSearch($event)" title="Pacientes"></app-top-bar>

    @if (isLoading) {
        <div class="flex justify-center items-center h-32">
            <div class="animate-spin rounded-full h-16 w-16 border-b-2 border-primary"></div>
        </div>
    } @else if (itensExibicao.length === 0) {
        <div class="text-center py-8 w-full bg-base-100 rounded-lg">
            <p>Nenhum registro encontrado.</p>
        </div>
    } @else {
        <div class="borda-tabela min-h-[26rem]">
            <table class="tabela-listagem">
                <thead class="text-base-100 bg-primary">
                    <tr>
                        <th (click)="ordenar('nome')" class="px-6 py-2 text-left text-xs font-medium uppercase tracking-wider w-auto cursor-pointer hover:bg-primary/50">
                            <lucide-icon *ngIf="getSortIcon('nome')" [name]="getSortIcon('nome')" class="icone-ordenacao"/>
                            Nome
                        </th>
                        <th (click)="ordenar('cpf')" class="px-6 py-2 text-left text-xs font-medium uppercase tracking-wider w-40 cursor-pointer hover:bg-primary/50">
                            <lucide-icon *ngIf="getSortIcon('cpf')" [name]="getSortIcon('cpf')" class="icone-ordenacao"/>
                            CPF
                        </th>
                        <th (click)="ordenar('dataNascimento')" class="px-6 py-2 text-left text-xs font-medium uppercase tracking-wider w-40 cursor-pointer hover:bg-primary/50">
                            <lucide-icon *ngIf="getSortIcon('dataNascimento')" [name]="getSortIcon('dataNascimento')" class="icone-ordenacao"/>
                            Nascimento
                        </th>
                        <th (click)="ordenar('celular')" class="px-6 py-2 text-left text-xs font-medium uppercase tracking-wider w-40 cursor-pointer hover:bg-primary/50">
                            <lucide-icon *ngIf="getSortIcon('celular')" [name]="getSortIcon('celular')" class="icone-ordenacao"/>
                            Celular
                        </th>
                        <th (click)="ordenar('proximaConsulta')" class="px-6 py-2 text-left text-xs font-medium uppercase tracking-wider w-48 cursor-pointer hover:bg-primary/50">
                            <lucide-icon *ngIf="getSortIcon('proximaConsulta')" [name]="getSortIcon('proximaConsulta')" class="icone-ordenacao"/>
                            Próxima Consulta
                        </th>
                        <th class="w-0 max-w-0"></th>
                    </tr>
                </thead>
                <tbody class="bg-base-100">
                    @for (paciente of getItensPaginados(); track paciente.id) {
                        <tr class="border-b hover:bg-base-200 cursor-pointer" (click)="selecionar(paciente)">
                            <td class="px-6 py-2 whitespace-nowrap">{{paciente.nome}}</td>
                            <td class="px-6 py-2 whitespace-nowrap">{{paciente.cpf | cpf}}</td>
                            <td class="px-6 py-2 whitespace-nowrap">{{paciente.dataNascimento | date:'dd/MM/yyyy'}}</td>
                            <td class="px-6 py-2 whitespace-nowrap">{{paciente.celular | celular}}</td>
                            <td class="px-6 py-2 whitespace-nowrap">{{paciente.proximaConsulta | date:'dd/MM/yyyy HH:mm'}}</td>
                            <td class="p-1 hover:bg-base-300 hover:cursor-pointer" (click)="toggleDropdown($event, paciente.id)">
                              <lucide-icon name="ellipsis-vertical" class="h-5"/>
                              @if (dropdownAberto === paciente.id) {
                                <ng-template [ngTemplateOutlet]="acoesTemplate" [ngTemplateOutletContext]="{ paciente: paciente }"></ng-template>
                              }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <app-pagination [items]="itensExibicao" [totalPaginas]="totalPaginas" (pageChange)="pageChange($event)"></app-pagination>
    }

    @if (itemSelecionado) {
        <app-paciente-detalhes
            [paciente]="itemSelecionado"
            (fechou)="fecharDetalhes()"
        ></app-paciente-detalhes>
    }

    @if (mostrarFormularioNovo) {
        <app-paciente-form
            [paciente]="itemEdicao"
            (save)="salvarNovoPaciente($event)"
            (cancel)="cancelarNovo()"
        ></app-paciente-form>
    }

  <div class="fixed bottom-6 right-6 flex flex-col items-end gap-2">
    <button class="btn btn-primary btn-circle btn-lg" (click)="onAddNovo()">
      <lucide-icon name="plus" class="w-6 h-6"></lucide-icon>
    </button>
  </div>

</div>

<ng-template #acoesTemplate let-paciente="paciente">
  <div class="absolute -ml-28 mt-1 whitespace-nowrap rounded-md shadow-lg bg-base-100 ring-1 ring-accent ring-opacity-5 z-50">
    <div class="py-1 flex flex-col">
      <a
        (click)="handleAction($event, 'agendar', paciente)"
        class="block px-4 py-2 text-sm text-neutral hover:bg-base-200 cursor-pointer" >
        Agendar Consulta
      </a>
      <a
        (click)="handleAction($event, 'historico', paciente)"
        class="block px-4 py-2 text-sm text-neutral hover:bg-base-200 cursor-pointer" >
        Ver Histórico
      </a>
      <a
        (click)="editar($event, paciente)"
        class="block px-4 py-2 text-sm text-neutral hover:bg-base-200 cursor-pointer" >
        Editar
      </a>
      <a
        (click)="handleAction($event, 'excluir', paciente)"
        class="block px-4 py-2 text-sm text-red-700 hover:bg-error/50 cursor-pointer" >
        Excluir
      </a>
    </div>
  </div>
</ng-template>
