<div class="mt-4">

  <app-top-bar (search)="onSearch($event)" (addNovo)="onAddNovo()" title="Convênios"></app-top-bar>

    @if (isLoading) {
        <div class="flex justify-center items-center h-32">
            <div class="animate-spin rounded-full h-16 w-16 border-b-2 border-primary"></div>
        </div>
    } @else if (itensExibicao.length === 0) {
        <div class="text-center py-8 w-full bg-base-100 rounded-md">
            <p>Nenhum registro encontrado.</p>
        </div>
    } @else {
        <div class="borda-tabela min-h-[26rem]">
            <table class="tabela-listagem">
                <thead class="text-base-100 bg-primary">
                    <tr>
                        <th (click)="ordenar('nome')" class="cabecalho-listagem">
                            <lucide-icon *ngIf="getSortIcon('nome')" [name]="getSortIcon('nome')" class="icone-ordenacao"/>
                            Nome
                        </th>
                        <th (click)="ordenar('descricao')" class="cabecalho-listagem">
                            <lucide-icon *ngIf="getSortIcon('descricao')" [name]="getSortIcon('descricao')" class="icone-ordenacao"/>
                            Observações
                        </th>
                        <th class="w-1"></th>
                    </tr>
                </thead>
                <tbody class="bg-base-100">
                    @for (convenio of getItensPaginados(); track convenio.id) {
                        <tr class="border-b hover:bg-base-200" [class.bg-error]="convenio.excluido" [class.bg-opacity-50]="convenio.excluido">
                            <td class="px-6 py-2 whitespace-nowrap">
                                {{convenio.nome}}
                                @if (convenio.excluido) {
                                    <span class="excluido">Excluído</span>
                                }
                            </td>
                            <td class="px-6 py-2">{{convenio.descricao}}</td>
                            <td class="p-1 whitespace-nowrap text-right hover:bg-base-300 hover:cursor-pointer" (click)="toggleDropdown($event, convenio.id)">
                                  <lucide-icon name="ellipsis-vertical" class="h-5"/>
                                    @if (dropdownAberto === convenio.id) {
                                        <div class="absolute -ml-12 mt-1 rounded-md shadow-lg bg-base-100 ring-1 ring-accent ring-opacity-5 z-50">
                                            <div class="py-1 flex flex-col">
                                                <a *ngIf="!convenio.excluido"
                                                    (click)="editar($event, convenio)"
                                                    class="block px-4 py-2 text-sm text-neutral hover:bg-base-200 cursor-pointer">
                                                    Editar
                                                </a>
                                                <a *ngIf="!convenio.excluido"
                                                    (click)="perguntaExcluir($event, convenio)"
                                                    class="block px-4 py-2 text-sm text-red-700 hover:bg-error/50 cursor-pointer">
                                                    Excluir
                                                </a>
                                                <a *ngIf="convenio.excluido"
                                                    (click)="restaurarItem($event, convenio)"
                                                    class="btn btn-success btn-sm">
                                                    Restaurar
                                                </a>
                                            </div>
                                        </div>
                                    }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <app-pagination [items]="itensExibicao" [totalPaginas]="totalPaginas" (pageChange)="pageChange($event)"></app-pagination>
    }

  @if (mostrarFormularioNovo) {
    <app-convenio-form
      [convenio]="itemEdicao"
      (save)="onSalvarNovoConvenio($event)"
      (cancel)="cancelarNovo()"
    ></app-convenio-form>
  }

  <app-confirm-dialog
    *ngIf="exibeConfirmExclusao"
    message="Deseja realmente excluir este convênio?"
    (confirm)="excluir()"
    (cancel)="fecharConfirmExclusao()"
  ></app-confirm-dialog>

</div>
