<div class="mt-4">

  <app-top-bar (search)="onSearch($event)" title="Profissionais"></app-top-bar>

  @if (isLoading) {
    <div class="flex justify-center items-center h-32">
      <div class="animate-spin rounded-full h-16 w-16 border-b-2 border-primary"></div>
    </div>
  } @else if (itensExibicao.length === 0) {
    <div class="text-center py-8 w-full bg-base-100 rounded-md shadow-md">
      <p>Nenhum registro encontrado.</p>
    </div>
  } @else {
    <div class="min-h-[26rem]">
      <table class="tabela-listagem">
        <thead class="text-base-100 bg-primary">
        <tr>
          <th (click)="ordenar('nome')" class="px-6 py-2 text-left text-xs font-medium uppercase tracking-wider w-auto cursor-pointer hover:bg-primary/50">
            <lucide-icon *ngIf="getSortIcon('nome')" [name]="getSortIcon('nome')" class="icone-ordenacao"/>
            Nome
          </th>
          <th (click)="ordenar('email')" class="px-6 py-2 text-left text-xs font-medium uppercase tracking-wider w-64 cursor-pointer hover:bg-primary/50">
            <lucide-icon *ngIf="getSortIcon('email')" [name]="getSortIcon('email')" class="icone-ordenacao"/>
            Email
          </th>
          <th (click)="ordenar('crm')" class="px-6 py-2 text-left text-xs font-medium uppercase tracking-wider w-40 cursor-pointer hover:bg-primary/50">
            <lucide-icon *ngIf="getSortIcon('crm')" [name]="getSortIcon('crm')" class="icone-ordenacao"/>
            CRM
          </th>
          <th (click)="ordenar('celular')" class="px-6 py-2 text-left text-xs font-medium uppercase tracking-wider w-40 cursor-pointer hover:bg-primary/50">
            <lucide-icon *ngIf="getSortIcon('celular')" [name]="getSortIcon('celular')" class="icone-ordenacao"/>
            Celular
          </th>
          <th class="p-0"></th>
        </tr>
        </thead>
        <tbody class="bg-base-100">
          @for (profissional of getItensPaginados(); track profissional.id) {
            <tr class="border-b hover:bg-base-200 cursor-pointer" (click)="selecionar(profissional)">
              <td class="px-6 py-2 whitespace-nowrap">{{profissional.nome}}</td>
              <td class="px-6 py-2 whitespace-nowrap">{{profissional.email}}</td>
              <td class="px-6 py-2 whitespace-nowrap">{{profissional.crm}}</td>
              <td class="px-6 py-2 whitespace-nowrap">{{profissional.celular | celular}}</td>
              <td class="p-0 text-right w-4">
                <div class="dropdown dropdown-end m-0 p-0" (click)="$event.stopPropagation()">
                  <label tabindex="0" class="btn btn-ghost btn-sm m-0">
                    <lucide-icon name="ellipsis-vertical" class="h-6" />
                  </label>

                  <ul tabindex="0" class="dropdown-content z-[1] menu bg-base-100 font-semibold rounded-box p-1 shadow-lg w-40">

                    <li *ngIf="!profissional.excluido">
                      <a (click)="editar($event, profissional)"
                        class="block px-4 py-2 text-sm text-neutral hover:bg-base-200 cursor-pointer" >
                        Editar
                      </a>
                    </li>
                    <li *ngIf="!profissional.excluido">
                      <a (click)="perguntaExcluir($event, profissional)"
                        class="text-error hover:bg-error/50 cursor-pointer" >
                        Excluir
                      </a>
                    </li>
                    <li *ngIf="profissional.excluido">
                      <a (click)="restaurarItem($event, profissional)"
                         class="btn btn-success btn-sm">
                        Restaurar
                      </a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <app-pagination [items]="itensExibicao" [totalPaginas]="totalPaginas" (pageChange)="pageChange($event)"></app-pagination>
  }

  @if (itemSelecionado) {
    <app-profissional-detalhes
      [profissional]="itemSelecionado"
      (fechou)="fecharDetalhes()"
    ></app-profissional-detalhes>
  }

  @if (mostrarFormularioNovo) {
    <app-profissional-form
      [profissional]="itemEdicao"
      (save)="onSalvarNovoProfissional($event)"
      (cancel)="cancelarNovo()"
    ></app-profissional-form>
  }

  <app-fab (clicked)="onAddNovo()"></app-fab>

</div>
