<div class="mt-4">

  <app-top-bar (search)="onSearch($event)" title="Atendimentos"></app-top-bar>

    @if (isLoading) {
        <div class="flex justify-center items-center h-32">
            <div class="animate-spin rounded-full h-16 w-16 border-b-2 border-primary"></div>
        </div>
    } @else if (itensExibicao.length === 0) {
        <div class="text-center py-8 w-full bg-base-100 rounded-md shadow-md">
            <p>Nenhum registro encontrado.</p>
        </div>
    } @else {
        <div class="rounded-lg min-h-[26rem] overflow-hidden">
            <table class="tabela-listagem">
                <thead class="text-base-100 bg-primary">
                    <tr>
                        <th (click)="ordenar('nome')" class="cabecalho-listagem">
                            <lucide-icon *ngIf="getSortIcon('nome')" [name]="getSortIcon('nome')" class="icone-ordenacao"/>
                            Nome
                        </th>
                        <th (click)="ordenar('descricao')" class="cabecalho-listagem">
                            <lucide-icon *ngIf="getSortIcon('descricao')" [name]="getSortIcon('descricao')" class="icone-ordenacao"/>
                            Observações
                        </th>
                        <th class="p-0"></th>
                    </tr>
                </thead>
                <tbody class="bg-base-100">
                    @for (atendimento of getItensPaginados(); track atendimento.id) {
                        <tr class="border-b hover:bg-base-200" [class.bg-error]="atendimento.excluido" [class.bg-opacity-50]="atendimento.excluido">
                            <td class="px-6 py-2 whitespace-nowrap">
                                {{atendimento.nome}} <span *ngIf="atendimento.excluido" class="excluido">Excluído</span>
                            </td>
                            <td class="px-6 py-2">{{atendimento.descricao}}</td>
                            <td class="p-0 text-right w-4">
                              <div class="dropdown dropdown-end m-0 p-0" (click)="$event.stopPropagation()">
                                <label tabindex="0" class="btn btn-ghost btn-sm m-0">
                                  <lucide-icon name="ellipsis-vertical" class="h-6" />
                                </label>
                                <ul tabindex="0" class="dropdown-content z-[1] menu bg-base-100 font-semibold rounded-box p-1 shadow-lg w-40">
                                  <li *ngIf="!atendimento.excluido">
                                    <a (click)="editar($event, atendimento)"
                                       class="block px-4 py-2 text-sm text-neutral hover:bg-base-200 cursor-pointer" >
                                      Editar
                                    </a>
                                  </li>
                                  <li *ngIf="!atendimento.excluido">
                                    <a (click)="perguntaExcluir($event, atendimento)"
                                       class="text-error hover:bg-error/50 cursor-pointer" >
                                      Excluir
                                    </a>
                                  </li>
                                  <li *ngIf="atendimento.excluido">
                                    <a (click)="restaurarItem($event, atendimento)"
                                       class="btn btn-sm text-success">
                                      Restaurar
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <app-pagination [items]="itensExibicao" [totalPaginas]="totalPaginas" (pageChange)="pageChange($event)"></app-pagination>
    }

  @if (mostrarFormularioNovo) {
    <app-atendimento-form
      [atendimento]="itemEdicao"
      (save)="onSalvarNovoAtendimento($event)"
      (cancel)="cancelarNovo()"
    ></app-atendimento-form>
  }

  <app-confirm-dialog
    *ngIf="exibeConfirmExclusao"
    message="Deseja realmente excluir este atendimento?"
    (confirm)="excluir()"
    (cancel)="fecharConfirmExclusao()"
  ></app-confirm-dialog>

  <app-fab (clicked)="onAddNovo()"></app-fab>

</div>
