<div class="mt-4">

  <app-top-bar (search)="onSearch($event)" title="Procedimentos"></app-top-bar>

  @if (isLoading) {
    <div class="flex justify-center items-center h-32">
      <div class="animate-spin rounded-full h-16 w-16 border-b-2 border-primary"></div>
    </div>
  } @else if (itensExibicao.length === 0) {
    <div class="text-center py-8 w-full bg-base-100 rounded shadow-md">
      <p>Nenhum registro encontrado.</p>
    </div>
  } @else {
    <div class="min-h-[36rem]">
      <div class="titulo-listagem grid-cols-[20rem_8rem_16rem_1fr_32px]">
        <div (click)="ordenar('nome')" class="cabecalho-listagem">
          <lucide-icon *ngIf="getSortIcon('nome')" [name]="getSortIcon('nome')" class="icone-ordenacao"/>
          Nome
        </div>
        <div (click)="ordenar('codigo')" class="cabecalho-listagem">
          <lucide-icon *ngIf="getSortIcon('codigo')" [name]="getSortIcon('codigo')" class="icone-ordenacao"/>
          Código
        </div>
        <div (click)="ordenar('especialidade')" class="cabecalho-listagem">
          <lucide-icon *ngIf="getSortIcon('especialidade')" [name]="getSortIcon('especialidade')" class="icone-ordenacao"/>
          Especialidade
        </div>
        <div (click)="ordenar('observacoes')" class="cabecalho-listagem">
          <lucide-icon *ngIf="getSortIcon('observacoes')" [name]="getSortIcon('observacoes')" class="icone-ordenacao"/>
          Observações
        </div>
        <div class="cabecalho-listagem p-0"></div>
      </div>

      <div class="itens-listagem">
        @for (procedimento of getItensPaginados(); track procedimento.id) {
          <div class="item-listagem grid-cols-[20rem_8rem_16rem_1fr_32px]"
               [class.bg-error]="procedimento.excluido"
               [class.bg-opacity-50]="procedimento.excluido"
               (click)="selecionar(procedimento)">
            <div class="px-6 flex items-center truncate">
              {{procedimento.nome}} <span *ngIf="procedimento.excluido" class="excluido">Excluído</span>
            </div>
            <div class="px-6 flex items-center text-sm truncate">{{procedimento.codigo}}</div>
            <div class="px-6 flex items-center text-sm truncate tooltip" [attr.data-target]=procedimento.especialidade.nome >{{procedimento.especialidade.nome}}</div>
            <div class="px-6 flex items-center text-sm truncate">{{procedimento.observacoes}}</div>
            <div class="p-0 text-right">
              <div class="dropdown dropdown-end" (click)="$event.stopPropagation()">
                <label tabindex="0" class="btn btn-ghost btn-sm m-0 p-0">
                  <lucide-icon name="ellipsis-vertical" class="h-5" />
                </label>
                <ul tabindex="0" class="dropdown-content z-50 menu p-2 shadow-lg bg-base-100 rounded-lg w-40">
                  <li *ngIf="!procedimento.excluido">
                    <a (click)="editar($event, procedimento)"
                       class="text-sm text-neutral hover:bg-base-200">
                      Editar
                    </a>
                  </li>
                  <li *ngIf="!procedimento.excluido">
                    <a (click)="perguntaExcluir($event, procedimento)"
                       class="text-error hover:bg-error/50">
                      Excluir
                    </a>
                  </li>
                  <li *ngIf="procedimento.excluido">
                    <a (click)="restaurar($event, procedimento)"
                       class="text-success hover:bg-success/20">
                      Restaurar
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        }
      </div>
    </div>

    <app-pagination [items]="itensExibicao" [totalPaginas]="totalPaginas" (pageChange)="pageChange($event)"></app-pagination>
  }

  @if (itemSelecionado) {
    <app-procedimento-detalhes
      [procedimento]="itemSelecionado"
      (fechou)="fecharDetalhes()"
      (editar)="mostrarEdicao($event)"
    ></app-procedimento-detalhes>
  }

  @if (mostrarFormularioNovo) {
    <app-procedimento-form
      [procedimento]="itemEdicao"
      (save)="onSalvarNovo($event)"
      (cancel)="cancelarNovo()"
    ></app-procedimento-form>
  }

  <app-confirm-dialog
    *ngIf="exibeConfirmExclusao"
    message="Deseja realmente excluir este procedimento?"
    (confirm)="excluir()"
    (cancel)="fecharConfirmExclusao()"
  ></app-confirm-dialog>

  <app-fab (clicked)="onAddNovo()"></app-fab>

</div>
