<div class="mt-4">

  <app-top-bar (search)="onSearch($event)" (addNovo)="onAddNovo()" title="Procedimentos"></app-top-bar>

  @if (isLoading) {
    <div class="flex justify-center items-center h-32">
      <div class="animate-spin rounded-full h-16 w-16 border-b-2 border-primary"></div>
    </div>
  } @else if (itensExibicao.length === 0) {
    <div class="text-center py-8 w-full bg-base-100 rounded-md">
      <p>Nenhum registro encontrado.</p>
    </div>
  } @else {
    <div class="overflow-x-auto rounded-md min-h-96">
      <table class="tabela-listagem">
        <thead class="text-base-100 bg-primary">
        <tr>
          <th (click)="ordenar('nome')" class="w-96 cabecalho-listagem">
            <lucide-icon *ngIf="getSortIcon('nome')" [name]="getSortIcon('nome')" class="icone-ordenacao"/>
            Nome
          </th>
          <th (click)="ordenar('codigo')" class="w-32 cabecalho-listagem">
            <lucide-icon *ngIf="getSortIcon('codigo')" [name]="getSortIcon('codigo')" class="icone-ordenacao"/>
            Código
          </th>
          <th (click)="ordenar('especialidade')" class="w-96 cabecalho-listagem">
            <lucide-icon *ngIf="getSortIcon('especialidade')" [name]="getSortIcon('especialidade')" class="icone-ordenacao"/>
            Especialidade
          </th>
          <th (click)="ordenar('observacoes')" class="cabecalho-listagem">
            <lucide-icon *ngIf="getSortIcon('observacoes')" [name]="getSortIcon('observacoes')" class="icone-ordenacao"/>
            Observações
          </th>
          <th class="w-1"></th>
        </tr>
        </thead>
        <tbody class="bg-base-100">
          @for (procedimento of getItensPaginados(); track procedimento.id) {
            <tr class="border-b hover:bg-base-200 hover:cursor-pointer" [class.bg-error]="procedimento.excluido" [class.bg-opacity-50]="procedimento.excluido" (click)="selecionar(procedimento)">
              <td class="w-96 px-6 py-2 whitespace-nowrap">
                {{procedimento.nome}}
                @if (procedimento.excluido) {
                  <span class="excluido">Excluído</span>
                }
              </td>
              <td class="w-32 px-6 py-2 text-sm">{{procedimento.codigo}}</td>
              <td class="w-72 px-6 py-2 text-sm">{{procedimento.especialidade.nome}}</td>
              <td class="px-6 py-2 text-sm">{{procedimento.observacoes}}</td>
              <td class="p-1 whitespace-nowrap text-right hover:bg-base-300 hover:cursor-pointer" (click)="toggleDropdown($event, procedimento.id)">
                  <lucide-icon name="ellipsis-vertical" class="h-5"  />
                  @if (dropdownAberto === procedimento.id) {
                    <div class="absolute -ml-12 mt-1 rounded-md shadow-lg bg-base-100 ring-1 ring-accent ring-opacity-5 z-50">
                      <div class="py-1 flex flex-col">
                        <a *ngIf="!procedimento.excluido"
                           (click)="editar($event, procedimento)"
                           class="block px-4 py-2 text-sm text-neutral hover:bg-base-200 cursor-pointer">
                          Editar
                        </a>
                        <a *ngIf="!procedimento.excluido"
                           (click)="perguntaExcluir($event, procedimento)"
                           class="block px-4 py-2 text-sm text-red-700 hover:bg-error/50 cursor-pointer">
                          Excluir
                        </a>
                        <a *ngIf="procedimento.excluido"
                           (click)="restaurar($event, procedimento)"
                           class="btn btn-success btn-sm">
                          Restaurar
                        </a>
                      </div>
                    </div>
                  }
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <app-pagination [items]="itensExibicao" [totalPaginas]="totalPaginas" (pageChange)="pageChange($event)"></app-pagination>
  }

  @if (itemSelecionado) {
    <app-procedimento-detalhes
      [procedimento]="itemSelecionado"
      (fechou)="fecharDetalhes()"
    ></app-procedimento-detalhes>
  }

  @if (mostrarFormularioNovo) {
    <app-procedimento-form
      [procedimento]="itemEdicao"
      (save)="onSalvarNovo($event)"
      (cancel)="cancelarNovo()"
    ></app-procedimento-form>
  }

  <app-confirm-dialog
    *ngIf="exibeConfirmExclusao"
    message="Deseja realmente excluir este procedimento?"
    (confirm)="excluir()"
    (cancel)="fecharConfirmExclusao()"
  ></app-confirm-dialog>

</div>
